{{> layout/header}}


<!--이력서 상세페이지-->
<div class="container ">

    <!-- 회사 기본정보 -->

    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div>
                    <i class="fas fa-bookmark text-warning" style="font-size: 20px;"></i>
                    <h2 class="card-title">{{resume.resumeTitle}}</h2>
                </div>
            </div>
            <div class="card border-0">
                <div class="d-flex row">
                    <div class="card-body p-3 col-md-5 col-sm-12">
                        <img src="https://picsum.photos/800/400" class="img-fluid img-thumbnail">
                    </div>
                    <div class="card-body col-md-6 col-sm-12 justify-content-center">
// 세션유저를 조인해서 넣어야함
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 회사 기본정보 -->


    <!-- 회사 공고 이미지 -->
    <div class="card mb-3">
        <h3 class="card-header">이력서 상세보기</h3>
        <div class="card-body">
            <div class="card-header">
                <h3>상세사항</h3>

                <table class="table">

                    <tbody>
                    <tr>
                        <th>경력</th>
                        <td>{{resume.career}}</td>

                    </tr>
                    <tr>
                        <td>학력</td>
                        <td>{{resume.edu}}</td>

                    </tr>
                    <tr>
                        <td>희망직무</td>
                        <td>{{resume.hopeJob}}</td>

                        </td>
                    </tr>
                    <tr>
                        <td>스킬</td>
                        <td>
                            {{#skillsList}}
                                <div>{{.}}</div>
                            {{/skillsList}}
                        </td>
                    </tr>
                    <tr>
                        <td>자격증</td>
                        <td>
                            <div>{{resume.license}}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- 회사 공고 이미지 -->

    <!-- 자기소개서 -->
    <div class="card">
        <h3 class="card-header">자기소개서</h3>
        <div class="card-body">
            <p>{{resume.content}}</p>
        </div>
    </div>


    <!-- 지원하기 버튼 -->
    <div class="d-flex justify-content-center mt-5 mb-5" style="width:100%; font-size: 50px;">
        <button class="btn btn-lg btn-danger">포지션 제안하기</button>
    </div>
    <!-- 지원하기 버튼 -->


    <!-- 맞춤형 공고 -->

    <h2>맞춤 인재</h2>
    <div class="d-flex justify-content-between mb-5 gap-2">
        <div class="card flex-wrap: wrap " style="width:220px">
            <img class="card-img-top" src="https://picsum.photos/200" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">이름</h4>
                <p class="card-text">이력서 타이틀</p>
                <a href="#" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>
        <div class="card flex-wrap: wrap " style="width:220px">
            <img class="card-img-top" src="https://picsum.photos/200" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">이름</h4>
                <p class="card-text">이력서 타이틀</p>
                <a href="#" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>

        <div class="card" style="width:220px">
            <img class="card-img-top" src="https://picsum.photos/200" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">이름</h4>
                <p class="card-text">이력서 타이틀</p>
                <a href="#" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>

        <div class="card" style="width:220px">
            <img class="card-img-top" src="https://picsum.photos/200" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">이름</h4>
                <p class="card-text">이력서 타이틀</p>
                <a href="#" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>
    </div>
    <!-- 맞춤형 공고 -->


    <!-- 버튼으로 넘겨서 보기 -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="https://picsum.photos/200" alt="회사 이미지" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-9">
                                <p class="card-title">이름</p>
                                <h2>저는 열정적인 사람입니다.</h2>
                                <p class="card-text">
                                    부산 / 신입 / 대졸
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <button class="btn btn-primary">이력서 보기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
            </div>
        </div>
        <div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br><br><br>
    </div>
    <!-- 버튼으로 넘겨서 보기 -->
</div>

{{> layout/footer}}