{{> layout/header}}


<!--이력서 상세페이지-->
<div class="container ">

    <!-- 회사 기본정보 -->

    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div>
                    <form action="/comp/scrap" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="resumeId" value="{{resume.id}}">
                        {{#isGuestScrap}}
                            {{#scrap}}
                                <i id="bookmark" class="fas fa-bookmark text-warning" style="font-size: 20px;"></i>
                            {{/scrap}}
                            {{^scrap}}
                                <i id="bookmark" class="far fa-bookmark text-warning" style="font-size: 20px;"></i>
                            {{/scrap}}
                        {{/isGuestScrap}}
                    </form>
                    <h2 class="card-title">{{resume.resumeTitle}}</h2>
                </div>
            </div>
            <div class="card border-0">
                <div class=" crad">
                    <div class="card-body d-flex">
                        <div style="margin-left: 140px; width: 150px; height: 250px; margin-bottom: 10px;">
                            <img id="imgPreview" src="/image/{{pic.ImgFilename}}" alt="          "
                                 style="width:250px; height: 260px;">
                        </div>
                        <table class="table" style="margin-left: 200px; margin-top: 80px; width: 600px; height: 100px;">
                            <tbody style="font-size: 20px;">
                            <tr>
                                <th>이름</th>
                                <td>{{user.name}}</td>
                                <th>나이</th>
                                <td>{{user.age}}</td>
                            </tr>
                            <tr>
                                <th>이메일</th>
                                <td>{{user.email}}</td>
                                <th>주소</th>
                                <td>{{user.address}}</td>
                            </tr>
                            <tr>

                            </tr>
                            <tr>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 회사 기본정보 -->

    <!-- 회사 공고 이미지 -->
    <div class="card mb-3">
        <h3 class="card-header">이력서 상세보기</h3>
        <div class="card-body">
            <div class="card-header">
                <h3>상세사항</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>경력</th>
                        <td>{{resume.career}}</td>

                    </tr>
                    <tr>
                        <td>학력</td>
                        <td>{{resume.edu}}</td>

                    </tr>
                    <tr>
                        <td>희망직무</td>
                        <td>{{resume.hopeJob}}</td>

                        </td>
                    </tr>
                    <tr>
                        <td>스킬</td>
                        <td>
                            {{#skillsList}}
                                <div>{{.}}</div>
                            {{/skillsList}}
                        </td>
                    </tr>
                    <tr>
                        <td>자격증</td>
                        <td>
                            <div>{{resume.license}}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- 회사 공고 이미지 -->

    <!-- 자기소개서 -->
    <div class="card">
        <h3 class="card-header">자기소개서</h3>
        <div class="card-body">
            <p>{{resume.content}}</p>
        </div>
    </div>


    <!-- 지원하기 버튼 -->
    <div class="d-flex justify-content-center mt-5 mb-5" style="width:100%; font-size: 50px;">
        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#applyModal">포지션
            제안하기
        </button>
    </div>
    <!-- 지원하기 버튼 -->
    <!-- 입사지원 클릭시 창띄우기 -->
    <form id="applicationForm" action="/jobopenApplys" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="resumeId" value="{{resume.id}}">
        <div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="applyModalLabel">공고 목록</h5>
                    </div>
                    <div class="modal-body">
                        {{#jobopenList}}
                            <div class="card row mt-3 shadow-lg p-3 bg-body rounded-5">
                                <div class="card-body shadow-5">
                                    <div class="col-md-8 align-items-center">
                                        {{jobopenTitle}}
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="mt-3">
                                            <p style="font-size: 15px;">{{hopeJob}} / {{career}} </p>
                                        </div>
                                        <div>
                                            <input type="radio" name="jobopenId" value="{{id}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/jobopenList}}
                    </div>
                    {{#isGuestScrap}}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                                닫기
                            </button>
                            <button type="submit" class="btn btn-primary">제안하기</button>
                        </div>
                    {{/isGuestScrap}}
                </div>
            </div>
        </div>
    </form>
    <!-- 입사지원 클릭시 창띄우기 -->

    <!-- 맞춤형 공고 -->

    <h2>맞춤 인재</h2>
    <div class="d-flex justify-content-between mb-5 gap-2">
        <div class="card flex-wrap: wrap " style="width:280px">
            <img class="card-img-top" src="/image/userImage.jpg" alt="Card image" style="width:100%; height: 260px;">
            <div class="card-body">
                <h4 class="card-title">김주혁</h4>
                <p class="card-text">도전적인 프론트엔드 개발자 지원서</p>
                <a href="/guest/resume/1" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>
        <div class="card flex-wrap: wrap " style="width:280px">
            <img class="card-img-top" src="/image/userImage2.jpg" alt="Card image" style="width:100%; height: 260px;">
            <div class="card-body">
                <h4 class="card-title">송민경</h4>
                <p class="card-text">새로운 시각의 프론트엔드 엔지니어 지원서</p>
                <a href="/guest/resume/3" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>

        <div class="card" style="width:280px">
            <img class="card-img-top" src="/image/userImage3.jpg" alt="Card image" style="width:100%; height: 260px;">
            <div class="card-body">
                <h4 class="card-title">박찬혁</h4>
                <p class="card-text">혁신적인 백엔드 엔지니어 이력서</p>
                <a href="/guest/resume/2" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>

        <div class="card" style="width:280px">
            <img class="card-img-top" src="/image/userimage4.png" alt="Card image" style="width:100%; height: 260px;">
            <div class="card-body">
                <h4 class="card-title">강호동</h4>
                <p class="card-text">데이터 전문가로서의 백엔드 엔지니어링 이력서</p>
                <a href="/guest/resume/4" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>
    </div>
    <!-- 맞춤형 공고 -->


    <!-- 버튼으로 넘겨서 보기 -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="/image/userimage5.png" alt="회사 이미지"
                                     class="img-fluid rounded-start" style="width:100%; height: 300px;">
                            </div>
                            <div class="col-md-9">
                                <p class="card-title" style="margin-top: 120px;">유재석</p>
                                <h2>저는 자타공인 열정적이 넘치는 사람입니다.</h2>
                                <p class="card-text">
                                    서울 / 신입 / 대졸
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <a href="/guest/resume/5" class="btn btn-primary">자세히 보기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
            </div>
        </div>
        <div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br><br><br>
    </div>
    <!-- 버튼으로 넘겨서 보기 -->
</div>

<script>
    // $(document).ready(() => {
    //     $("#bookmark").click(() => {
    //         $("#bookmark").toggleClass("fas far");
    //     });
    // });

    $("#bookmark").click(function () {
        $(this).closest("form").submit(); // submit 이벤트 발생
    });
</script>

{{> layout/footer}}