{{> layout/header}}


<!--이력서 상세페이지-->
<div class="container ">

    <!-- 회사 기본정보 -->

    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div>
                    <form action="/comp/scrap" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="resumeId" value="{{resume.id}}">
                        {{#isGuestScrap}}
                            {{#scrap}}
                                <i id="bookmark" class="fas fa-bookmark text-warning" style="font-size: 20px;"></i>
                            {{/scrap}}
                            {{^scrap}}
                                <i id="bookmark" class="far fa-bookmark text-warning" style="font-size: 20px;"></i>
                            {{/scrap}}
                        {{/isGuestScrap}}
                    </form>
                    <h2 class="card-title">{{resume.resumeTitle}}</h2>
                </div>
            </div>
            <div class="card border-0">
                <div class=" crad">
                    <div class="card-body d-flex">
                        <div style="margin-left: 140px; width: 150px; height: 250px; margin-bottom: 10px;">
                            <img id="imgPreview" src="/image/{{user.ImgFilename}}"
                                 style="width:250px; height: 260px;">
                        </div>
                        <table class="table" style="margin-left: 200px; margin-top: 80px; width: 600px; height: 100px;">
                            <tbody style="font-size: 20px;">
                            <tr>
                                <th>이름</th>
                                <td>{{user.name}}</td>
                                <th>나이</th>
                                <td>{{user.age}}</td>
                            </tr>
                            <tr>
                                <th>이메일</th>
                                <td>{{user.email}}</td>
                                <th>주소</th>
                                <td>{{user.address}}</td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 회사 기본정보 -->

    <!-- 회사 공고 이미지 -->
    <div class="card mb-3">
        <h3 class="card-header">이력서 상세보기</h3>
        <div class="card-body">
            <div class="card-header">
                <h3>상세사항</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>경력</th>
                        <td>{{resume.career}}</td>

                    </tr>
                    <tr>
                        <td>학력</td>
                        <td>{{resume.edu}}</td>

                    </tr>
                    <tr>
                        <td>희망직무</td>
                        <td>{{resume.hopeJob}}</td>

                        </td>
                    </tr>
                    <tr>
                        <td>스킬</td>
                        <td>
                            <div>{{resume.skills}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>자격증</td>
                        <td>
                            <div>{{resume.license}}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- 회사 공고 이미지 -->

    <!-- 자기소개서 -->
    <div class="card">
        <h3 class="card-header">자기소개서</h3>
        <div class="card-body">
            <p>{{resume.content}}</p>
        </div>
    </div>

    {{#isGuestScrap}}
        <!-- 지원하기 버튼 -->
        <div class="d-flex justify-content-center mt-5 mb-5" style="width:100%; font-size: 50px;">
            <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#applyModal">포지션
                제안하기
            </button>
        </div>
        <!-- 지원하기 버튼 -->
    {{/isGuestScrap}}

    <!-- 입사지원 클릭시 창띄우기 -->
    <form id="applicationForm" action="/Applys" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="resumeId" value="{{resume.id}}">
        <div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="applyModalLabel">공고 목록</h5>
                    </div>
                    <div class="modal-body">
                        {{#jobopenList}}
                            <div class="card row mt-3 shadow-lg p-3 bg-body rounded-5">
                                <div class="card-body shadow-5">
                                    <div class="col-md-8 align-items-center">
                                        {{jobopenTitle}}
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="mt-3">
                                            <p style="font-size: 15px;">{{hopeJob}} / {{career}} </p>
                                        </div>
                                        <div>
                                            <input type="radio" name="jobopenId" value="{{id}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/jobopenList}}
                    </div>
                    {{#isGuestScrap}}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                                닫기
                            </button>
                            <button type="submit" class="btn btn-primary">제안하기</button>
                        </div>
                    {{/isGuestScrap}}
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    $("#bookmark").click(function () {
        $(this).closest("form").submit(); // submit 이벤트 발생
    });
</script>

{{> layout/footer}}