{{> layout/header}}


<!--이력서 수정페이지-->
<div class="container">
    <form action="/upload" method="post" enctype="application/x-www-form-urlencoded">
        <div class="card-body row" style="width: 100%; margin-left: 1px;">
            <div class="card mb-2" style="padding: 0;">
                <div>
                    <h5 class="card-header">인적사항</h5>
                </div>
                <div class="card-body row">
                    {{#pic}}
                        <img src="/image/{{pic.imgFilename}}" style="width:100%">
                    {{/pic}}
                    {{^pic}}
                        <img  src="../images/avatar.png" alt="Card image" style="width:100%">
                    {{/pic}}
                         style="width: 120px; height: 175px; border: 1px solid #ccc; margin-left: 200px;">
                    <input type="file" name="imgFile" id="imgFile"
                           style="margin-left: 188px; margin-top: 5px;">
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered" style="margin-top: -180px; margin-left: 450px;">
                        <tbody style="font-size: 15px;">
                        <tr>
                            <th>이름</th>
                            <td>{{user.name}}</td>
                            <th>나이</th>
                            <td>{{user.age}}</td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td>{{user.email}}</td>
                            <th>핸드폰</th>
                            <td>{{user.phone}}</td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td colspan="3">{{user.address}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <form action="/guest/resume/write" method="post" enctype="multipart/form-data" id="uploadForm">
        <div>
            <input class="mb-3" type="text" name="resumeTitle" id="" placeholder="이력서 제목"
                   style="font-size: 30px; border-radius: 5px; width: 100%;">
        </div>
        <div class="card mb-2">
            <div>
                <h5 class="card-header">희망직무</h5>
                <div class="container m-2">
                    <select class="form-select" name="hopeJob">
                        <option value="">선택</option>
                        <option value="프론트엔드">프론트엔드</option>
                        <option value="백엔드">백엔드</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div>
                <h5 class="card-header">스킬</h5>
            </div>
            <div class="row m-2">
                <div class="col-sm-2">
                    <div class="form-check">
                        <input type="checkbox" name="skills" class="form-check-input" value="Java">
                        <div>Java</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input type="checkbox" name="skills" class="form-check-input"
                               value="JavaScript">
                        <div>JavaScript</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input type="checkbox" name="skills" class="form-check-input"
                               value="Spring">
                        <div>Spring</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input type="checkbox" name="skills" class="form-check-input" value="HTML">
                        <div>HTML</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input type="checkbox" name="skills" class="form-check-input"
                               value="jQuery">
                        <div>jQuery</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input type="checkbox" name="skills" class="form-check-input" value="MySQL">
                        <div>MySQL</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div>
                <h5 class="card-header">학력</h5>
                <div class="d-flex m-2">
                    <div class="col-sm-4">
                        <select class="form-select" name="edu">
                            <option>고등학교 졸업</option>
                            <option>대학교 졸업</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div>
                <h5 class="card-header">경력</h5>
                <div class="col-sm-4 m-2">
                    <select class="form-select" name="career">
                        <option value="">선택</option>
                        <option value="신입">신입</option>
                        <option value="경력">경력</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="d-flex justify-content-between card-header">
                <h5>자격증</h5>
            </div>
            <div class="col-sm-4 m-2">
                <select class="form-select" name="license">
                    <option value="">선택</option>
                    <option value="정보처리기사">정보처리기사</option>
                    <option value="sqld">SQLD</option>
                </select>
            </div>
        </div>
        <div class="card mb-2">
            <div>
                <h5 class="card-header">자기소개서</h5>
                <textarea class="form-control" rows="5" id="comment" name="content"></textarea>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <button type="submit" class=" btn btn-primary btn-lg">작성완료</button>
        </div>
    </form>
    <br>
    <br><br>
</div>

<script>
    const imgFileInput = document.getElementById('imgFile');
    const imgPreview = document.getElementById('imgPreview');
    const uploadBtn = document.getElementById('uploadBtn');
    imgFileInput.addEventListener('change', function (event) {
        const file = event.target.files[0];
        const reader = new FileReader();
        reader.onload = function (e) {
            imgPreview.src = e.target.result;
        }
        reader.readAsDataURL(file);
    });
</script>

{{> layout/footer}}
