{{> layout/header}}


<!--이력서 수정페이지-->
<div class="container ">
    <div>
        <input class="mb-3" type="text" name="" id="" placeholder="이력서 제목"
               style="font-size: 30px; border-radius: 5px; width: 100%;">
    </div>
    <div class="card mb-2">
        <div>
            <h5 class="card-header">인적사항</h5>
        </div>
        <div class="card-body row">
            <div class="col-sm-3">
                <img src="/images/userImage.jpg" width="150" height="200" style="margin-left: 70px;">
            </div>
            <div class="col-sm-9">
                <table class="table table-bordered">
                    <tbody style="font-size: 15px;">
                    <tr>
                        <th>이름</th>
                        <td>김주혁</td>
                    </tr>
                    <tr>
                        <th>나이</th>
                        <td>만 29세</td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td>juniorSSAR@nate.com</td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td>010-1111-2222</td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td>부산광역시 금정구 전포동</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div>
            <h5 class="card-header">희망직무</h5>
            <div class="container m-2">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="something">
                    <div>프론트엔드</div>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="something">
                    <div>백엔드</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div>
            <h5 class="card-header">스킬</h5>
        </div>
        <div class="row m-2">
            <div class="col-sm-2">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="something">
                    <div>Java</div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="something">
                    <div>JavaScript</div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="something">
                    <div>Spring</div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="something">
                    <div>HTML</div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="something">
                    <div>jQuery</div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="something">
                    <div>Mysql</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div>
            <h5 class="card-header">학력</h5>
            <div class="d-flex m-2">
                <div class="col-sm-4">
                    <select class="form-select">
                        <option>학력 선택</option>
                        <option>고등학교</option>
                        <option>대학교(2,3년)</option>
                        <option>대학교(4년)</option>
                        <option>대학교(석사)</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="" id="" placeholder="학교를 입력하세요">
                </div>

            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div>
            <h5 class="card-header">경력</h5>
            <div class="col-sm-4 m-2">
                <select class="form-select">
                    <option value="">선택</option>
                    <option value="1">신입</option>
                    <option value="2">경력</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="d-flex justify-content-between card-header">
            <h5>자격증</h5>
            <button class=" btn btn-primary btn-sm " id="btnLicense">추가</button>
        </div>
        <div class="m-2 row" id="licenseList">
            <select class="form-select">
                <option value="">정보처리기사</option>
                <option value="1">SQLD</option>
                <option value="2">기타..</option>
            </select>
        </div>
    </div>
    <div class="card mb-2">
        <div>
            <h5 class="card-header">자기소개서</h5>
            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button class=" btn btn-primary btn-lg">작성완료</button>
    </div>
    <br>
    <br><br>
</div>


<script>
    $("#btnLicense").click(() => $("#licenseList").append(`<select class="form-select">
                <option value="">정보처리기사</option>
                <option value="1">SQLD</option>
                <option value="2">기타..</option>
            </select>`));
</script>

{{> layout/footer}}
