{{> layout/header}}
        <!--{{#resumeList}}-->
<!--    {{resumeTitle}}-->
<!--    {{career}}-->
<!--    {{edu}}-->
        <!--    {{/resumeList}}-->

<!--채용공고 상세페이지-->
<!-- 회사 기본정보 -->
<div class="container p-5">
    <h1>채용공고</h1>
    <hr>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div>
                    <img src="/image/{{JobopenRespDTO.ImgFilename}}" class="d-flex justify-content:center"
                         style="margin-top:-5px; margin-left: -20px;">
                </div>
                <div>
                    <div style="margin-left: 10px; margin-top: 10px;">
                        <p class="card-title">({{JobopenRespDTO.compname}})</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h2>{{JobopenRespDTO.jobopenTitle}}</h2>
                            </div>
                            <div class="ml-4">
                                {{#isCompScrap}}
                                    <form action="/guest/scrap" method="post">
                                        <input type="hidden" name="jobopenId" value="{{jobopen.id}}">
                                        {{#scrap}}
                                            <i id="bookmark" class="fas fa-bookmark text-warning"
                                               style="font-size: 20px;"></i>
                                        {{/scrap}}
                                        {{^scrap}}
                                            <i id="bookmark" class="far fa-bookmark text-warning"
                                               style="font-size: 20px;"></i>
                                        {{/scrap}}
                                    </form>
                                {{/isCompScrap}}

                            </div>
                            <script>
                                $("#bookmark").click(function () {
                                    $(this).closest("form").submit(); // submit 이벤트 발생
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 회사 기본정보 -->

<div class="container p-5" style="margin-top: -94px;">
    <!-- 입사지원 클릭시 창띄우기 -->
    <form id="applicationForm" action="/Applys" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="jobopenId" value="{{jobopen.id}}">
        <div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="applyModalLabel">이력서 목록</h5>
                    </div>
                    <div class="modal-body">
                        {{#resumeList2}}
                            <div class="card row mt-3 shadow-lg p-3 bg-body rounded-5">
                                <div class="card-body shadow-5">
                                    <div class="col-md-8 align-items-center">
                                        {{resumeTitle}}
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="mt-3">
                                            <p style="font-size: 15px;">{{career}} / {{edu}} </p>
                                        </div>
                                        <div>
                                            <input type="radio" name="resumeId" value="{{id}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/resumeList2}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                            닫기
                        </button>
                        <button type="submit" class="btn btn-primary">홈페이지 지원하기</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- 입사지원 클릭시 창띄우기 -->


    <!-- 채용공고 상세보기 -->
    <div class="card mb-3">
        <div class="card-header" style="padding-bottom: 0px;">
            <h3>기본 정보 및 모집분야</h3>
        </div>
        <table class="table table-hover table-borderless table-sm" style="padding-bottom: 0px;">
            <thead class="table-dark">
            <th colspan="2">기본 정보</th>

            </thead>
            <tbody>
            <tr>
                <tb> </tb>
                <td>경력</td>
                <td>{{jobopen.career}}</td>
            </tr>
            <tr>
                <td>학력</td>
                <td>{{jobopen.edu}}</td>
            </tr>
            <tr>
                <td>고용 형태</td>
                <td>{{jobopen.jobType}}</td>
            </tr>
            <tr>
                <td>연봉</td>
                <td>{{jobopen.salary}}</td>
            </tr>
            <tr>
                <td>지역</td>
                <td>{{jobopen.compLocation}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card mb-3">
        <div class="card mb-13" style="border-bottom: 0px;">
            <div class=" card-header">
                <h3>모집 분야</h3>
            </div>
            <table class="table table-hover" style="margin-bottom: 0px;">
                <thead class="table-dark">
                <tr>
                    <th>직무</th>
                    <th>인원</th>
                    <th>요구스킬</th>
                </tr>
                </thead>
                <tbody>
                <td>{{jobopen.hopeJob}}</td>
                <td>0명</td>
                <td>
                    <ul>
                        {{#skillsList}}
                            <li>{{.}}</li>
                        {{/skillsList}}
                    </ul>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- 회사 공고 이미지 -->

    <!-- 지원하기 버튼 -->
    {{#isCompScrap}}
        <div class="d-flex justify-content-center mt-5 mb-5" style="width:100%; font-size: 50px;">
            <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#applyModal">
                입사지원하기
            </button>
        </div>
    {{/isCompScrap}}
    <!-- 지원하기 버튼 -->


    <!-- 이력서 접수 방법 -->
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title">접수 방법</h5>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><b>온라인 접수</b>: 회사 홈페이지 접속 후 지원</li>
                <li class="list-group-item"><b>이메일 접수</b> : resume@company.com 으로 이력서 첨부</li>
                <li class="list-group-item"><b>방문 접수</b>: 회사 본사 방문 후 접수</li>
            </ul>
        </div>
    </div>
    <!--     이력서 접수 방법 -->

</div>


    <!--     맞춤형 공고 -->
<!--    <h2 style="margin-top: 10px;">맞춤 공고</h2>-->
<!--    <div class="d-flex justify-content-between mb-5 gap-2">-->
<!--        <div class="card flex-wrap: wrap " style="width:280px">-->
<!--            <img class="card-img-top" src="/image/cupanglogo.png" alt="Card image" style="width:100%; height: 130px;">-->
<!--            <div class="card-body">-->
<!--                <h4 class="card-title">쿠팡</h4>-->
<!--                <p class="card-text">소프트웨어 개발자 채용</p>-->
<!--                <a href="/comp/jobopen/1" class="btn btn-primary" style="margin-left: 80px;">자세히 보기</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card flex-wrap: wrap " style="width:280px">-->
<!--            <img class="card-img-top" src="/image/getintherelogo.png" alt="Card image"-->
<!--                 style="width:100%; height: 130px;">-->
<!--            <div class="card-body">-->
<!--                <h4 class="card-title">겟인데어</h4>-->
<!--                <p class="card-text">UI/UX 디자이너 채용</p>-->
<!--                <a href="/comp/jobopen/9" class="btn btn-primary" style="margin-left: 80px;">자세히 보기</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="card" style="width:280px">-->
<!--            <img class="card-img-top" src="/image/carrotlogo.png" alt="Card image" style="width:100%; height: 130px;">-->
<!--            <div class="card-body">-->
<!--                <h4 class="card-title">당근마켓</h4>-->
<!--                <p class="card-text">소프트웨어 개발자 채용</p>-->
<!--                <a href="/comp/jobopen/7" class="btn btn-primary" style="margin-left: 80px;">자세히 보기</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="card" style="width:280px">-->
<!--            <img class="card-img-top" src="/image/kakao.png" alt="Card image" style="width:100%; height: 130px;">-->
<!--            <div class="card-body">-->
<!--                <h4 class="card-title">카카오</h4>-->
<!--                <p class="card-text">UI/UX 디자이너 채용</p>-->
<!--                <a href="/comp/jobopen/3" class="btn btn-primary" style="margin-left: 80px;">자세히 보기</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- 맞춤형 공고 -->


    <!-- 버튼으로 넘겨서 보기 -->
<!--    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">-->
<!--        <div class="carousel-inner">-->
<!--            <div class="carousel-item active">-->
<!--                <div class="card mb-3">-->
<!--                    <div class="card-body">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-3" style="margin-top: 50px;">-->
<!--                                <img src="/image/naverlogo.png" alt="회사 이미지" class="img-fluid rounded-start">-->
<!--                            </div>-->
<!--                            <div class="col-md-9">-->
<!--                                <p class="card-title">네이버</p>-->
<!--                                <h2>열정적인 당신을 원합니다</h2>-->
<!--                                <p class="card-text">-->
<!--                                    회사 소개 및 채용 정보 클릭해서 확인하세요-->
<!--                                </p>-->
<!--                                <div class="d-flex justify-content-between">-->
<!--                                    <div>-->
<!--                                        <a href="/comp/jobopen/2" class="btn btn-primary" style="margin-left: 250px;">자세히-->
<!--                                            보기</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>-->

<!--            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"-->
<!--                    data-bs-slide="prev">-->
<!--                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                <span class="visually-hidden">Previous</span>-->
<!--            </button>-->
<!--            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"-->
<!--                    data-bs-slide="next">-->
<!--                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                <span class="visually-hidden">Next</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; 버튼으로 넘겨서 보기 &ndash;&gt;-->
<!--</div>-->


{{> layout/footer}}