{{> layout/header}}

<!--채용공고 상세페이지-->
<!-- 회사 기본정보 -->
<div class="container mt-5 p-5">
    <h1>채용공고</h1>
    <hr>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div>
                    <i class="fas fa-bookmark text-warning" style="font-size: 20px;"></i>
                    <p class="card-title">회사명</p>
                    <h2>{{jobopen.jobopenTitle}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- 회사 기본정보 -->


    <!-- 입사지원 클릭시 창띄우기 -->
    <div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <form action="/applys/{{id}}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="applyModalLabel">이력서 목록</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{#resumeList}}
                            <div class="card row mt-3 shadow-lg p-3 bg-body rounded-5">
                                <div class="card-body  shadow-5 ">
                                    <div class="col-md-8 align-items-center">
                                        {{resumeTitle}}
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="mt-3">
                                            <p style="font-size: 15px;">{{career}} / {{edu}} </p>
                                        </div>
                                        <div>
                                            <input type="radio" name="id" value="{{id}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/resumeList}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary">홈페이지 지원하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 입사지원 클릭시 창띄우기 -->


    <!-- 회사 공고 이미지 -->
    <div class="card mb-3">
        <h2 class="card-header">채용공고 상세보기</h2>
        <img src="https://picsum.photos/800/400" class="img-fluid">
        <div class="card-body">
            <div class="card-header">
                <h3>기본 정보 및 모집분야</h3>
            </div>
            <table class="table table-hover table-borderless table-sm">
                <thead class="table-dark">
                <th colspan="2">기본 정보</th>

                </thead>
                <tbody>
                <tr>
                    <td>경력</td>
                    <td>{{jobopen.career}}</td>
                </tr>
                <tr>
                    <td>학력</td>
                    <td>{{jobopen.edu}}</td>
                </tr>
                <tr>
                    <td>고용 형태</td>
                    <td>{{jobopen.jobType}}</td>
                </tr>
                <tr>
                    <td>연봉</td>
                    <td>{{jobopen.salary}}</td>
                </tr>
                <tr>
                    <td>지역</td>
                    <td>{{jobopen.compLocation}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-body">
            <div class="card-header">
                <h3>모집 분야</h3>
            </div>
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th>직무</th>
                    <th>인원</th>
                    <th>요구스킬</th>
                </tr>
                </thead>
                <tbody>
                <td>{{jobopen.hopeJob}}</td>
                <td>0명</td>
                <td>
                    <ul>
                        {{#skillsList}}
                            <li>{{.}}</li>
                        {{/skillsList}}
                    </ul>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- 회사 공고 이미지 -->


    <!-- 지원하기 버튼 -->
    <div class="d-flex justify-content-center mt-5 mb-5" style="width:100%; font-size: 50px;">
        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#applyModal">
            입사지원하기
        </button>
    </div>
    <!-- 지원하기 버튼 -->


    <!-- 이력서 접수 방법 -->
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title">접수 방법</h5>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><b>온라인 접수</b>: 회사 홈페이지 접속 후 지원</li>
                <li class="list-group-item"><b>이메일 접수</b> : resume@company.com 으로 이력서 첨부</li>
                <li class="list-group-item"><b>방문 접수</b>: 회사 본사 방문 후 접수</li>
            </ul>
        </div>
    </div>
    <!-- 이력서 접수 방법 -->


    <!-- 맞춤형 공고 -->

    <h2>맞춤 공고</h2>
    <div class="d-flex justify-content-between mb-5 gap-2">
        <div class="card flex-wrap: wrap " style="width:200px">
            <img class="card-img-top" src="https://picsum.photos/200" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">회사</h4>
                <p class="card-text">공고 타이틀</p>
                <a href="#" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>
        <div class="card flex-wrap: wrap " style="width:200px">
            <img class="card-img-top" src="https://picsum.photos/200" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">회사</h4>
                <p class="card-text">공고 타이틀</p>
                <a href="#" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>

        <div class="card" style="width:200px">
            <img class="card-img-top" src="https://picsum.photos/200" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">회사</h4>
                <p class="card-text">공고 타이틀</p>
                <a href="#" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>

        <div class="card" style="width:200px">
            <img class="card-img-top" src="https://picsum.photos/200" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">회사</h4>
                <p class="card-text">공고 타이틀</p>
                <a href="#" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>
    </div>
    <!-- 맞춤형 공고 -->


    <!-- 버튼으로 넘겨서 보기 -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="https://picsum.photos/200" alt="회사 이미지" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-9">
                                <p class="card-title">회사명</p>
                                <h2>열정적인 인재를 원합니다</h2>
                                <p class="card-text">
                                    회사 소개 및 채용 정보
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <button class="btn btn-primary">입사지원</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
            </div>
        </div>
        <div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- 버튼으로 넘겨서 보기 -->
</div>


{{> layout/footer}}
