{{> layout/header}}

<!--채용공고 등록페이지-->
<div class="container  mt-5">
    <form action="/comp/jobopen/save" method="post" enctype="multipart/form-data">
        <div class="card mt-5">
            <div class="card-body d-flex justify-content-center">
                <input type="text" name="jobopenTitle" class="form-control" placeholder="공고제목">
            </div>
        </div>

        <!-- 공고에 들어가야 될 내용  -->
        <div class="card mt-5">
            <div class="card-body">
                <div>
                    <p><b>학력</b></p>
                </div>
                <select class="form-select form-select-lg" name="edu">
                    <option value="">선택</option>
                    <option value="고등학교 졸업">고등학교 졸업</option>
                    <option value="대학교 졸업">대학교 졸업</option>
                    <option value="학력 무관">학력 무관</option>
                </select>
            </div>
            <div class="card-body ">
                <div>
                    <p><b>경력</b></p>
                </div>
                <select class="form-select form-select-lg" name="career">
                    <option value="">선택</option>
                    <option value="신입">신입</option>
                    <option value="경력">경력</option>
                </select>
            </div>
            <div class="card-body">
                <div>
                    <p><b>고용형태</b></p>
                </div>
                <select class="form-select form-select-lg" name="jobType">
                    <option value="">선택</option>
                    <option value="정규직">정규직</option>
                    <option value="계약직">계약직</option>
                    <option value="인턴">인턴</option>
                </select>
            </div>
            <div class="card-body">
                <div>
                    <p><b>급여</b></p>
                </div>
                <select class="form-select form-select-lg" name="salary">
                    <option value="">선택</option>
                    <option value="협의">협의</option>
                    <option value="3000만원 이상">3000만원 이상</option>
                    <option value="5000만원 이상">5000만원 이상</option>
                </select>
            </div>
            <div class="card-body">
                <div>
                    <p><b>희망직무</b></p>
                </div>
                <select class="form-select form-select-lg" name="hopeJob">
                    <option value="">선택</option>
                    <option value="프론트엔드">프론트엔드</option>
                    <option value="백엔드">백엔드</option>
                    <option value="풀스택">풀스택</option>
                </select>
            </div>

            <div class="card-body">
                <div>
                    <p><b>근무지역</b></p>
                </div>
                <select class="form-select form-select-lg" name="compLocation">
                    <option value="">선택</option>
                    <option value="전체">전체</option>
                    <option value="서울">서울</option>
                    <option value="5000만원 이상">5000만원 이상</option>
                </select>
            </div>
            <div class="card-body">
                <p><b>마감일</b></p>
                <div class="form-group" name="">
                    <input type="date" class="form-control" name="endTime">
                </div>
            </div>
        </div>

        <div class="card mb-2">
            <div>
                <h5 class="card-header">스킬</h5>
            </div>
            <div class="row m-2">
                <div class="col-sm-2">
                    <div class="form-check">
                        <input type="checkbox" name="skills" class="form-check-input" value="Java">
                        <div>Java</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input type="checkbox" name="skills" class="form-check-input" value="JavaScript">
                        <div>JavaScript</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input type="checkbox" name="skills" class="form-check-input" value="Spring">
                        <div>Spring</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input type="checkbox" name="skills" class="form-check-input" value="HTML">
                        <div>HTML</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input type="checkbox" name="skills" class="form-check-input" value="jQuery">
                        <div>jQuery</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input type="checkbox" name="skills" class="form-check-input" value="MySQL">
                        <div>MySQL</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top:50px;">
            <textarea name="content" class="form-control" cols="30" rows="10"></textarea>
        </div>

        <div class="d-flex justify-content-center mt-5">
            <div class="">
                <button type="submit" class="btn btn-primary">저장 하기</button>
            </div>
        </div>
    </form>
</div>

<!-- 공고 상세 내용 -->



{{> layout/footer}}