{{> layout/header}}


<!--채용공고 수정페이지-->
<div class="container  d-flex justify-content-center">
    <div class="card" style="width: 70%">
        <div class="card-header">
            <h3 class="my-3 mx-3">공고 수정하기</h3>
        </div>
        <div class="card-body">
            <!--채용공고 사진-->
            <form action="/comp/jobopen/{{id}}/update" method="post">
                <!-- 공고 제목 -->
                <div class="card mt-5">
                    <div class="card-body d-flex justify-content-center">
                        <input value="{{jobopen.jobopenTitle}}" type="text" name="jobopenTitle" class="form-control"
                               style="font-size: 30px; border-radius: 5px; width: 100%;"
                               placeholder="공고제목">
                    </div>
                </div>
                <div class="card my-4">
                    <div>
                        <h5 class="card-header">스킬</h5>
                    </div>
                    <div class="card-body ">
                        <div class="d-flex justify-content-around">
                            <div class="">
                                <input type="checkbox" class="btn-check" id="Java" name="skills"
                                       value="Java" autocomplete="off" {{#checkedSkillsList.java}}checked{{/checkedSkillsList.java}}>
                                <label class="btn btn-lg btn-outline-info mx-1" for="Java">Java</label>
                            </div>
                            <div class="">
                                <input type="checkbox" class="btn-check" id="JavaScript" name="skills"
                                       value="JavaScript" autocomplete="off" {{#checkedSkillsList.JavaScript}}checked{{/checkedSkillsList.JavaScript}}>
                                <label class="btn btn-lg btn-outline-info mx-1" for="JavaScript">JavaScript</label>
                            </div>
                            <div class="">
                                <input type="checkbox" class="btn-check" id="Spring" name="skills"
                                       value="Spring" autocomplete="off" {{#checkedSkillsList.Spring}}checked{{/checkedSkillsList.Spring}}>
                                <label class="btn btn-lg btn-outline-info mx-1" for="Spring">Spring</label>
                            </div>
                            <div class="">
                                <input type="checkbox" class="btn-check" id="HTML" name="skills"
                                       value="HTML" autocomplete="off" {{#checkedSkillsList.HTML}}checked{{/checkedSkillsList.HTML}}>
                                <label class="btn btn-lg btn-outline-info mx-1" for="HTML">HTML</label>
                            </div>
                            <div class="">
                                <input type="checkbox" class="btn-check" id="jQuery" name="skills"
                                       value="jQuery" autocomplete="off" {{#checkedSkillsList.jQuery}}checked{{/checkedSkillsList.jQuery}}>
                                <label class="btn btn-lg btn-outline-info mx-1" for="jQuery">jQuery</label>
                            </div>
                            <div class="">
                                <input type="checkbox" class="btn-check" id="MySQL" name="skills"
                                       value="MySQL" autocomplete="off" {{#checkedSkillsList.MySQL}}checked{{/checkedSkillsList.MySQL}}>
                                <label class="btn btn-lg btn-outline-info mx-1" for="MySQL">MySQL</label>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- 공고에 들어가야 될 내용  -->
                <div class="card my-4">
                    <div>
                        <h5 class="card-header">학력</h5>
                        <div class="d-flex m-2">
                            <div class="col-sm-4">
                                <select class="form-select form-select-lg" name="edu" defaultValue="{{jobopen.edu}}">
                                    <option value="고등학교 졸업">고등학교 졸업</option>
                                    <option value="대학교 졸업">대학교 졸업</option>
                                    <option value="학력 무관">학력 무관</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card my-4">
                    <div>
                        <h5 class="card-header">경력</h5>
                        <div class="col-sm-4 m-2">
                            <select class="form-select form-select-lg" name="career" defaultValue="{{jobopen.career}}">
                                <option value="">선택</option>
                                <option value="신입">신입</option>
                                <option value="경력">경력</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="card my-4">
                    <div>
                        <h5 class="card-header">고용형태</h5>
                        <div class="col-sm-4 m-2">
                            <select class="form-select form-select-lg" name="jobType" defaultValue="{{jobopen.jobType}}">
                                <option value="">선택</option>
                                <option value="정규직">정규직</option>
                                <option value="계약직">계약직</option>
                                <option value="인턴">인턴</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card my-4">
                    <div>
                        <h5 class="card-header">급여</h5>
                        <div class="col-sm-4 m-2">
                            <select class="form-select form-select-lg" name="salary" defaultValue="{{jobopen.salary}}">
                                <option value="">선택</option>
                                <option value="협의">협의</option>
                                <option value="3000만원 이상">3000만원 이상</option>
                                <option value="5000만원 이상">5000만원 이상</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card my-4">
                    <div>
                        <h5 class="card-header">희망직무</h5>
                        <div class="col-sm-4 m-2">
                            <select class="form-select form-select-lg" name="hopeJob" defaultValue="{{jobopen.hopeJob}}">
                                <option value="">선택</option>
                                <option value="프론트엔드">프론트엔드</option>
                                <option value="백엔드">백엔드</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card my-4">
                    <div>
                        <h5 class="card-header">근무지역</h5>
                        <div class="col-sm-4 m-2">
                            <select class="form-select form-select-lg" name="compLocation" defaultValue="{{jobopen.compLocation}}">
                                <option value="전체">전체</option>
                                <option value="서울">서울</option>
                                <option value="부산">부산</option>
                                <option value="부산">광주</option>
                                <option value="부산">경기</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card my-4">
                    <div>
                        <h5 class="card-header">마감일</h5>
                        <div class="form-group">
                            <input value="{{jobopen.endTime}}" type="date" class="form-control" name="endTime">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class=" btn btn-primary btn-lg">수정완료</button>
                </div>
            </form>
        </div>


        </form>
    </div>
</div>
</div>

<!-- 선택박스 업데이트 페이지 미리 선택 -->
<script>
    const eduSelect = document.querySelector('select[name="edu"]');
    eduSelect.value = '{{jobopen.edu}}';
    const careerSelect = document.querySelector('select[name="career"]');
    careerSelect.value = '{{jobopen.career}}';
    const jobTypeSelect = document.querySelector('select[name="jobType"]');
    jobTypeSelect.value = '{{jobopen.jobType}}';
    const salarySelect = document.querySelector('select[name="salary"]');
    salarySelect.value = '{{jobopen.salary}}';
    const hopeJobSelect = document.querySelector('select[name="hopeJob"]');
    hopeJobSelect.value = '{{jobopen.hopeJob}}';
    const compLocationSelect = document.querySelector('select[name="compLocation"]');
    compLocationSelect.value = '{{jobopen.compLocation}}';
</script>



{{> layout/footer}}