{{> layout/header}}


<!--채용공고 수정페이지-->
<div class="container  mt-5">

    <!--채용공고 사진-->
    <form id="UpdateForm" action="/jobopen/update/{{id}}" method="post" enctype="multipart/form-data">
        <input type="hidden" value="{{id}}">
        <div class="card mb-3">
            <div class="card-body">
                <!-- 회사 이미지 및 정보 -->
                <div class="d-flex ">
                    <div style="margin-left: 160px; margin-top: 20px; margin-bottom: 20px;">
                        <div style="width: 500px; height: 190px; border: 1px solid #ccc; margin-bottom: 10px;">
                            <img id="imgPreview" src="/image/{{pic.ImgFilename}}" alt="          "
                                 style="width:100%; height: 100%;">
                        </div>
                        <input type="file" name="imgFile" id="imgFile" onchange="previewImage(this);"
                               style="margin-bottom: 10px;">
                        <input type="hidden" name="title" id="title"> <!-- 타이틀 입력란 -->
                        <div>
                            <button type="button" onclick="uploadImage()">사진 저장</button>
                        </div>
                    </div>
                    <div class="p-3 align-middle">
                        <table class="table" style="margin-left: 30px; margin-top: 40px;">
                            <tbody style="font-size: 15px;">
                            <tr>
                                <th>회사명</th>
                                <td>카카오</td>
                            </tr>
                            <tr>
                                <th>대표자명</th>
                                <td>박선규</td>
                            </tr>
                            <tr>
                                <th>홈페이지</th>
                                <td>www.kakao.com</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form action="/comp/jobopen/{{id}}/update" method="post">
        <!-- 공고 제목 -->
        <div class="card mt-5">
            <div class="card-body d-flex justify-content-center">
                <input value="{{jobopen.jobopenTitle}}" type="text" name="jobopenTitle" class="form-control"
                       style="font-size: 30px; border-radius: 5px; width: 100%;"
                       placeholder="공고제목">
            </div>
        </div>

        <!-- 공고에 들어가야 될 내용  -->
        <div class="card mt-5">
            <div class="card-body">
                <div>
                    <p><b>학력</b></p>
                </div>
                <select class="form-select form-select-lg">
                    <option value="">고등학교 졸업</option>
                    <option value="">대학교 졸업</option>
                    <option value="">학력 무관</option>
                </select>
            </div>
            <div class="card-body ">
                <div>
                    <p><b>경력</b></p>
                </div>
                <select class="form-select form-select-lg">
                    <option value="">신입</option>
                    <option value="">경력</option>
                </select>
            </div>
            <div class="card-body">
                <div>
                    <p><b>고용형태</b></p>
                </div>
                <select class="form-select form-select-lg">
                    <option value="">정규직</option>
                    <option value="">계약직</option>
                    <option value="">인턴</option>
                </select>
            </div>
            <div class="card-body">
                <div>
                    <p><b>급여</b></p>
                </div>
                <select class="form-select form-select-lg">
                    <option value="">협의</option>
                    <option value="">3000만원 이상</option>
                    <option value="">5000만원 이상</option>
                </select>
            </div>
            <div class="card-body">
                <div>
                    <p><b>희망직무</b></p>
                </div>
                <select class="form-select form-select-lg">
                    <option value="">프론트엔드</option>
                    <option value="">백엔드</option>
                    <option value="">풀스택</option>
                </select>
            </div>
            <div class="card-body">
                <div>
                    <p><b>근무지역</b></p>
                </div>
                <select class="form-select form-select-lg">
                    <option value="">전체</option>
                    <option value="">서울</option>
                    <option value="">5000만원 이상</option>
                </select>
            </div>
            <div class="card-body">
                <p><b>마감일</b></p>
                <div class="form-group">
                    <input value="{{jobopen.endTime}}" type="date" class="form-control" name="endTime">
                </div>
            </div>
        </div>


        <!-- 프로그램 기술 -->
        <div class="card mt-5">
            <div style="margin-left: 20px;">
                <label>기술 스택</label>
            </div>
            <div class="d-flex justify-content-between" style="margin-left: 20px; margin-right: 20px;">
                <div class="custom-control custom-checkbox ">
                    <input type="checkbox" class="custom-control-input pr-3" id="java" name="skills">
                    <label class="custom-control-label" for="Java">Java</label>
                </div>
                <div class="custom-control custom-checkbox ml-4">
                    <input type="checkbox" class="custom-control-input" id="javascript" name="skills">
                    <label class="custom-control-label" for="JavaScript">JavaScript</label>
                </div>
                <div class="custom-control custom-checkbox pr-3">
                    <input type="checkbox" class="custom-control-input" id="spring" name="skills">
                    <label class="custom-control-label" for="Spring">Spring</label>
                </div>
                <div class="custom-control custom-checkbox pr-3">
                    <input type="checkbox" class="custom-control-input" id="html" name="skills">
                    <label class="custom-control-label" for="HTML">HTML</label>
                </div>
                <div class="custom-control custom-checkbox pr-3">
                    <input type="checkbox" class="custom-control-input" id="jquery" name="skills">
                    <label class="custom-control-label" for="jQuery">jQuery</label>
                </div>
                <div class="custom-control custom-checkbox pr-3">
                    <input type="checkbox" class="custom-control-input" id="Mysql" name="skills">
                    <label class="custom-control-label" for="MySQL">MySQL</label>
                </div>
            </div>
        </div>
        <!-- 공고 상세 내용 -->
        <div class="container" style="padding-top:50px;">
            <textarea id="myEditor" class="form-control" cols="30" rows="10">{{jobopen.content}}</textarea>
        </div>
        <!--        <script>-->
        <!--            $(document).ready(function () {-->
        <!--                $('#myEditor').summernote({-->
        <!--                    lang: 'ko-KR',-->
        <!--                    height: 300,-->
        <!--                });-->
        <!--            });-->
        <!--        </script>-->
        <div class="d-flex justify-content-center mt-5">
            <div class="">
                <button type="submit" class="btn btn-primary">저장 하기</button>
            </div>
        </div>
    </form>
</div>


<script>
    const imgFileInput = document.getElementById('imgFile');
    const imgPreview = document.getElementById('imgPreview');
    const picTitleInput = document.getElementById('title'); // 타이틀 입력란 변경

    imgFileInput.addEventListener('change', function (event) {
        const file = event.target.files[0]; // 선택된 파일 가져오기
        if (file) {
            // 파일 이름을 타이틀로 자동 채우기
            picTitleInput.value = file.name; // 타이틀 입력란에 파일 이름 설정
        }
    });

    function previewImage(input) {
        const file = input.files[0];
        const reader = new FileReader();
        reader.onload = function (e) {
            imgPreview.src = e.target.result;
        }
        reader.readAsDataURL(file);
    }

    // "작성완료" 버튼 클릭 시 이벤트 핸들러
    document.querySelector('#picUploadForm').addEventListener('submit', async function (event) {
        event.preventDefault(); // 폼 기본 제출 이벤트 막기

        const formData = new FormData(this);

        try {
            // 이력서 데이터를 서버로 전송
            const response = await fetch('/comp/jobopen/{{jobopen.id}}/update', {
                method: 'POST',
                body: formData
            });

            if (!response.ok) {
                throw new Error('이력서를 제출하는 도중에 오류가 발생했습니다.');
            }

            // 페이지 이동
            window.location.href = '/success'; // 성공 페이지로 이동
        } catch (error) {
            console.error(error);
            // 오류 처리 로직 추가
        }
    });

    // 사진 저장 버튼 클릭 시 이벤트 핸들러
    async function uploadImage() {
        const form = document.getElementById('UpdateForm');
        const formData = new FormData(form);

        try {
            // 이미지를 서버로 전송
            const response = await fetch('/jobopen/update/{{id}}', {
                method: 'POST',
                body: formData
            });

            if (!response.ok) {
                throw new Error('이미지를 업로드하는 도중에 오류가 발생했습니다.');
            }

            // 이미지 업로드가 성공하면 응답 데이터에서 이미지 경로 받아오기
            const responseData = await response.json();
            const imageUrl = responseData.imageUrl; // 서버에서 이미지 경로를 제공하는 경우

            // 미리보기로 이미지 표시
            const imgPreview = document.getElementById('imgPreview');
            imgPreview.src = imageUrl;
        } catch (error) {
            console.error(error);
            // 오류 처리 로직 추가
        }
    }

</script>



{{> layout/footer}}