{{> layout/header}}

<!--채용공고 등록페이지-->
<div class="container  mt-5">
    <div class="card mb-3">
        <div class="card-body">
            <!-- 회사 이미지 및 정보 -->

            <div class="d-flex ">
                <div class="p-3">
                    <img src="/image/kakaologoq.png" class="float-end" alt="Paris" width="304" height="236">
                </div>
                {{#sessionUser}}
                    <div class="p-3 align-middle">
                        <table class="table">
                            <tbody style="font-size: 15px;">
                            <tr>
                                <th>회사명</th>
                                <td>카카오</td>
                            </tr>
                            <tr>
                                <th>대표자명</th>
                                <td>박선규</td>
                            </tr>
                            <tr>
                                <th>홈페이지</th>
                                <td>www.kakao.com</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {{/sessionUser}}
            </div>
        </div>
    </div>


    <!-- 공고 제목 -->
    <form>

        <div class="card mt-5">
            <div class="card-body d-flex justify-content-center">
                <div class="text-nowrap h4">공고 제목</div>
                <input type="text" name="jbopenTitle" class="form-control">
            </div>
        </div>

        <!-- 공고에 들어가야 될 내용  -->
        <div class="card mt-5">
            <div class="card-body">
                <div>
                    <p><b>학력</b></p>
                </div>
                <select class="form-select form-select-lg" name="edu">
                    <option value="고등학교 졸업">고등학교 졸업</option>
                    <option value="대학교 졸업">대학교 졸업</option>
                    <option value="학력 무관">학력 무관</option>
                </select>
            </div>
            <div class="card-body ">
                <div>
                    <p><b>경력</b></p>
                </div>
                <select class="form-select form-select-lg" name="career">
                    <option value="신입">신입</option>
                    <option value="경력">경력</option>
                </select>
            </div>

        </div>


        <!-- 프로그램 기술 -->
        <div class="card mt-5">
            <div style="margin-left: 20px;">
                <label>기술 스택</label>
            </div>
            <form action="/comp/skill" method="post" enctype="application/x-www-form-urlencoded">
                <div class="d-flex justify-content-between" style="margin-left: 20px; margin-right: 20px;">
                    <div class="custom-control custom-checkbox ">
                        <input type="checkbox" class="custom-control-input pr-3" id="java" name="skills[]" value="Java">
                        <label class="custom-control-label" for="java">Java</label>
                    </div>

                </div>
            </form>
        </div>
        <div class="container" style="padding-top:50px;">
            <textarea name="" id="myEditor" class="form-control" cols="30" rows="10"></textarea>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <div class="">
                <button type="submit" class="btn btn-primary">저장 하기</button>
            </div>
        </div>
    </form>
</div>

<!-- 공고 상세 내용 -->

<script>
    $(document).ready(function () {
        $('#myEditor').summernote({
            lang: 'ko-KR',
            height: 300,
        });
    });
</script>

{{> layout/footer}}