{{> layout/header}}

<!--공고관리-->

<div class="container mt-3 ">
    <h3 class="">000 인사 담당자님</h3>
    <div class="d-flex justify-content-between mt-5 mb-2">
        <h2>내가 올린 공고</h2>
    </div>
    <div class="card border- form-control d-flex justify-content-between mb-4 shadow-lg p-3 mb-5 bg-body rounded-5">
        <div class="card-body">
            <p class="card-title">회사</p>
            <a href="/">
                <div class="card-text mb-5 text-truncate">
                    <h2>열정적인 인재를
                        원합니다......</h2>
                </div>
            </a>
            <div class="d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-primary">
                        지원자 현황 <span class="badge bg-danger">4</span>
                    </button>
                </div>
                <div>
                    <button class="btn btn-info">수정</button>
                    <button class="btn btn-secondary">삭제</button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary">공고만들기</button>
    </div>
</div>
{{> layout/footer}}