<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        footer{
            width: 100%;
            background: #6C757D;
            color : white;
            font-size: 10px;
        }
    </style>
</head>
<body>

<footer class="footer bg-dark text-white py-4">
    <div class="container text-center">
        <h4>(주)Jobara</h4>
        <p>주소: 서울시 강남구 삼성로 1234번지</p>
        <p>전화번호: 02-123-4567</p>
        <p>개인정보 처리방침 | 이용약관 | 사이트맵</p>
        <p>© 2024 (주)Jobara. All rights reserved.</p>
    </div>
</footer>


</body>
</html>
