<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="utf-8">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <style>
        @import url("https://fonts.googleapis.com/earlyaccess/hanna.css");

        .navbar-nav, .container, body {
            font-family: "Hanna", serif;
            font-size: 20px;
        }

        .navbar-dark .navbar-nav .nav-link {
            color: navy !important;
        }

        .navbar {
            background: linear-gradient(to right, #CDFFD8, #94B9FF);
        }

        footer.footer {
            width: 100%;
            background: #6C757D !important;
            color: white;
            font-size: 10px;
        }

        .btn-light:hover {
            outline: 2px solid #0d6efd;
        }

        .active:active {
            background-color: #0056b3;
        }

    </style>
</head>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <div class="align-middle">
            <a class="navbar-brand" href="/">
                <img src=" /image/jobaralogo.png" style="width: 200px;">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                {{#sessionUser}}
                    {{#isCheck}}
                        <!-- 개인 로그인시 볼 수 있는 헤더 -->
                        <li class="nav-item">
                            <a class="nav-link" href="/guest/jobSearch"><h2>채용공고</h2></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/board/mainForm"><h2>자유게시판</h2></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/guest/profileForm"><h2>마이페이지</h2></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"><h2>로그아웃</h2></a>
                        </li>

                    {{/isCheck}}
                    {{^isCheck}}
                        <!-- 기업 로그인시 볼 수 있는 헤더 -->
                        <li class="nav-item">
                            <a class="nav-link" href="/guest/jobSearch"><h2>채용공고</h2></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/comp/scoutList"><h2>인재채용</h2></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/board/mainForm"><h2>자유게시판</h2></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/comp/profileForm"><h2>마이페이지</h2></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"><h2>로그아웃</h2></a>
                        </li>

                    {{/isCheck}}
                {{/sessionUser}}
                {{^sessionUser}}
                    <!--        비로그인시 볼 수 있는 헤더            -->
                    <li class="nav-item">
                        <a class="nav-link" href="/guest/jobSearch"><h2>채용공고</h2></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/mainForm"><h2>자유게시판</h2></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/joinForm"><h2>회원가입</h2></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/loginForm"><h2>로그인</h2></a>
                    </li>
                {{/sessionUser}}
            </ul>
        </div>
    </div>
</nav>
<br>

