{{> layout/header}}

<!--게시판 상세페이지-->
<div class="container p-5">
    <div style="margin-top: -70px;">
        <h2><b>카카오에게 문의 드립니다.</b></h2>
        <!-- 작성자 -->
        <div class="d-flex justify-content-end" style="text-size-adjust: 20px; margin-top: -60px;">
            <b>작성자</b> : 홍길동
        </div>
        <!-- 수정삭제버튼 -->
        <div class="d-flex justify-content-end">
            <div class="d-flex justify-content-end">
                <button class="btn btn-warning me-1">수정</button>
                <button class="btn btn-danger">삭제</button>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <!-- 게시글내용 -->
    <div class="mb-5">
        <p>
            카카오에 들어가려면 코테를 어떻게 준비해야 되나요?
        </p>
    </div>
    <!-- 댓글 -->
    <div class="card mt-3">
        <!-- 댓글등록 -->
        <div class="card-body">
            <form action="/reply/save" method="post">
                <input type="hidden" name="boardId" value="1">
                <textarea class="form-control" rows="2" name="comment"></textarea>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary mt-1">댓글등록</button>
                </div>
            </form>
        </div>
        <!-- 댓글목록 -->
        <div class="card-footer">
            <b>댓글리스트</b>
        </div>
        <div class="list-group">
            <!-- 댓글아이템 -->
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <div class="px-1 me-1 bg-primary text-white rounded">cos</div>
                    <div>댓글 내용입니다</div>
                </div>
                <form action="/reply/1/delete" method="post">
                    <button class="btn"><i class="fa-solid fa-trash"></i></button>
                </form>
            </div>
            <!-- 댓글아이템 -->
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <div class="px-1 me-1 bg-primary text-white rounded">ssar</div>
                    <div>댓글 내용입니다</div>
                </div>
                <form action="/reply/1/delete" method="post">
                    <button class="btn"><i class="fa-solid fa-trash"></i></button>
                </form>
            </div>
        </div>
    </div>
    <br><br>
</div>


{{> layout/footer}}