{{> layout/header}}

<!---->
<div class="container p-5">
    <div class="d-flex justify-content-end" style="margin-top: -50px;">
        <form class="d-flex mb-5">
            <input class="form-control me-2" type="text">
            <button class="btn btn-primary">search</button>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>글쓴이</th>
            <th>제목</th>
            <th>등록일</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#boardList}}
            <tr>
                <td>{{id}}</td>
                <td>{{username}}</td>
                <td><a href="/board/{{id}}" style="cursor:pointer">{{title}}</a></td>
                <td>{{createdAt}}</td>
                <td>
                    <div class="d-flex">

                    </div>
                </td>
            </tr>
        {{/boardList}}
        </tbody>
    </table>
    <br>
    <form action="/board/saveForm" method="get">
        <div class="d-flex justify-content-center mb-3">
            <button class="btn btn-primary">글 쓰기</button>
        </div>
    </form>
    <br>
    <ul class="pagination d-flex justify-content-center">
        <
        <li class="page-item ">
            <a class="page-link" href="">Previous</a>
        </li>
        <li class="page-item ">
            <a class="page-link" href="">Next</a>
        </li>

    </ul>

</div>


</html>
{{> layout/footer}}
