{{> layout/header}}

<!---->
<div class="container p-5">
    <div class="d-flex justify-content-end" style="margin-top: -50px;">
        <form class="d-flex mb-5">
            <input class="form-control me-2" type="text">
            <button class="btn btn-primary">search</button>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>글쓴이</th>
            <th>제목</th>
            <th>등록일</th>
            <th>답변 여부</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>07</td>
            <td>홍길동</td>
            <td>카카오에게 문의 드립니다</td>
            <td>2023-12-10</td>
            <td>
                <div class="d-flex">
                    답변 완료
                </div>
            </td>
        </tr>
        <tr>
            <td>06</td>
            <td>임꺽정</td>
            <td>카카오 복지</td>
            <td>2023-12-08</td>
            <td>
                <div class="d-flex">
                    <div class="d-flex">
                        미 열람
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>05</td>
            <td>히두</td>
            <td>네임드 회사 입사 조건</td>
            <td>2023-12-06</td>
            <td>
                <div class="d-flex">
                    <div class="d-flex">
                        답변 완료
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>04</td>
            <td>카카오 에이스</td>
            <td>정시 퇴근 부탁</td>
            <td>2023-12-06</td>
            <td>
                <div class="d-flex">
                    <div class="d-flex">
                        답변 완료
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>03</td>
            <td>배민 인싸</td>
            <td>연봉 올려주세요!</td>
            <td>2023-12-04</td>
            <td>
                <div class="d-flex">
                    <div class="d-flex">
                        답변 완료
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>02</td>
            <td>배민 1위가 되고 싶은</td>
            <td>플러터 책 글쓴이 최주호</td>
            <td>2023-12-04</td>
            <td>
                <div class="d-flex">
                    <div class="d-flex">
                        답변 완료
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>01</td>
            <td>인간</td>
            <td>1년차 개발자</td>
            <td>2023-12-04</td>
            <td>
                <div class="d-flex">
                    <div class="d-flex">
                        답변 완료
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <form action="/board/saveForm" method="get">
        <div class="d-flex justify-content-center mb-3">
            <button class="btn btn-primary">글 쓰기</button>
        </div>
    </form>
    <br>
    <ul class="pagination d-flex justify-content-center">
        <
        <li class="page-item ">
            <a class="page-link" href="">Previous</a>
        </li>
        <li class="page-item ">
            <a class="page-link" href="">Next</a>
        </li>

    </ul>

</div>


</html>
{{> layout/footer}}
