{{> layout/header}}

<!--개인 지원현황 페이지-->
<div class="container">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="upMenu text-center mb-4">
                    <h1>마이페이지</h1>
                    <div class="btn-group btn-group-lg">
                        <a href="/guest/profileForm">
                            <button type="button" class="btn btn-outline-dark m-1">프로필 관리</button>
                        </a>
                        <a href="/guest/mngForm">
                            <button type="button" class="btn btn-outline-dark m-1">이력서 관리</button>
                        </a>
                        <a href="/applyForm">
                            <button type="button" class="btn btn-outline-dark m-1">지원 현황</button>
                        </a>
                        <a href="/positionForm">
                            <button type="button" class="btn btn-outline-dark m-1">제안 관리</button>
                        </a>
                        <a href="/guest/scrapForm">
                            <button type="button" class="btn btn-outline-dark m-1">스크랩</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="applyBox">
                    <h2 class="text-left">지원 현황</h2>
                    <div class="card shadow row">
                        <table class="table p-3" style="margin-bottom: 0px;">
                            <thead class="table-primary">
                            <tr>
                                <th>공고 제목</th>
                                <th>이력서 제목</th>
                                <th>상태</th>
                            </tr>
                            </thead>
                            {{#Apply}}
                                <tbody>
                                <tr>
                                    <td>{{jobopenTitle}}</td>
                                    <td>{{resumeTitle}}</td>
                                    <td>{{state}}</td>
                                </tr>
                                </tbody>
                            {{/Apply}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
{{> layout/footer}}
