{{> layout/header}}


<style>
    .profileBox {
        margin-top: 50px;
        border: 2px solid #ccc;
        padding: 30px;
        border-radius: 10px;
        border: none;
    }
</style>
<!--개인 지원현황 페이지-->
<div class="container">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="upMenu text-center mb-4">
                    <h1>마이페이지</h1>
                    <div class="btn-group btn-group-lg">
                        <a href="/guest/profileForm">
                            <button type="button" class="btn btn-outline-dark m-1">프로필 관리</button>
                        </a>
                        <a href="/guest/mngForm">
                            <button type="button" class="btn btn-outline-dark m-1">이력서 관리</button>
                        </a>
                        <a href="/applyForm">
                            <button type="button" class="btn btn-outline-dark m-1">지원 현황</button>
                        </a>
                        <a href="/positionForm">
                            <button type="button" class="btn btn-outline-dark m-1">제안 관리</button>
                        </a>
                        <a href="/guest/scrapForm">
                            <button type="button" class="btn btn-outline-dark m-1">스크랩</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profileBox">
        <h2 class="text-left">지원 현황</h2>
        <div class="card shadow row">
            <table class="table p-3">
                <thead class="table-primary">
                <tr>
                    <th></th>
                    <th>공고 제목</th>
                    <th>이력서 제목</th>
                    <th>마감일</th>
                    <th>상태</th>
                </tr>
                </thead>
                {{#GuestApply}}
                    <tbody>
                    <tr>
                        <td></td>
                        <td onClick="location.href='/comp/jobopen/{{jobopenId}}'" style="cursor:pointer">{{jobopenTitle}}</td>
                        <td onClick="location.href='/guest/resume/{{resumeId}}'"  style="cursor:pointer">{{resumeTitle}}</td>
                        <td>{{endTime}}</td>
                        <td>{{state}}</td>
                    </tr>
                    </tbody>
                {{/GuestApply}}
            </table>
        </div>
    </div>

    <br>
    <br>
    <br>
</div>
{{> layout/footer}}
