{{> layout/header}}

<!--개인 지원현황 페이지-->
<div class="container mt-5">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="upMenu text-center mb-4">
                    <h1>마이페이지</h1>
                    <div class="btn-group btn-group-lg">
                        <a href="/guest/profileForm">
                            <button type="button" class="btn btn-outline-dark m-1" id="profileBtn">프로필 관리</button>
                        </a>
                        <a href="/guest/mngForm">
                            <button type="button" class="btn btn-outline-dark m-1">이력서 관리</button>
                        </a>
                        <a href="/applyStatusForm">
                            <button type="button" class="btn btn-outline-dark m-1">지원 관리</button>
                        </a>
                        <a href="/guest/scrapForm">
                            <button type="button" class="btn btn-outline-dark m-1">스크랩한 기업</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="applyBox">
                    <h2 class="text-left">지원 현황</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>지원 공고</th>
                            <th>진행여부</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>[카카오모빌리디] 서버(백엔드) 개발자]</td>
                            <td>합격</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

{{> layout/footer}}