{{> layout/header}}
<!--개인 이력서 관리 페이지-->
<div class="container">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="upMenu text-center mb-4">
                    <h1>마이페이지</h1>
                    <div class="btn-group btn-group-lg">
                        <a href="/guest/profileForm">
                            <button type="button" class="btn btn-outline-dark m-1">프로필 관리</button>
                        </a>
                        <a href="/guest/mngForm">
                            <button type="button" class="btn btn-outline-dark m-1">이력서 관리</button>
                        </a>
                        <a href="/applyForm">
                            <button type="button" class="btn btn-outline-dark m-1">지원 현황</button>
                        </a>
                        <a href="/positionForm">
                            <button type="button" class="btn btn-outline-dark m-1">제안 관리</button>
                        </a>
                        <a href="/guest/scrapForm">
                            <button type="button" class="btn btn-outline-dark m-1">스크랩</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="applyBox">
                    <h2 class="text-left">이력서 관리</h2>
                    <div class="card shadow row">
                        <table class="table p-3" style="margin-bottom: 0px;">
                            <thead class="table-primary">
                            <tr>
                                <th>제목</th>
                                <th>관리</th>
                            </tr>
                            </thead>
                            <tbody id="resumeTable">
                            {{#resumeList}}
                                <tr>
                                    <td>
                                        <a class="page-link" href="/guest/resume/{{id}}">{{resumeTitle}}</a>
                                    </td>
                                    <td class="d-flex">
                                        <a href="/guest/resume/{{id}}/updateForm" class="btn btn-primary btn-sm">수정</a>
                                        <form action="/resume/{{id}}/delete" method="post">
                                            <button class="btn btn-danger btn-sm" style="margin-left: 5px;">삭제</button>
                                        </form>
                                    </td>
                                </tr>
                            {{/resumeList}}
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center"> <!-- Center the button -->
                        <a href="/guest/resume/saveForm" class="btn btn-primary">새로운 이력서 작성하기</a>
                        <!-- Styled in blue color -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

{{> layout/footer}}
