{{> layout/header}}
<!--개인 이력서 관리 페이지-->
<div class="container">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="upMenu text-center mb-4">
                    <h1>마이페이지</h1>
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-outline-dark" id="profileBtn">프로필 관리</button>
                        <button type="button" class="btn btn-outline-dark">이력서 관리</button>
                        <button type="button" class="btn btn-outline-dark">지원 관리</button>
                        <button type="button" class="btn btn-outline-dark">스크랩한 기업</button>
                        <button type="button" class="btn btn-outline-dark">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="applyBox">
                    <h2 class="text-left">이력서 관리</h2>
                    <table class="table">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>관리</th>
                        </tr>
                        </thead>
                        <tbody id="resumeTable">
                        {{#resumeList}}
                            <tr>
                                <td>{{id}}</td>
                                <td>
                                    <a class="page-link" href="/guest/detailForm/{{id}}">{{resumeTitle}}</a>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm">수정</button>
                                    <button class="btn btn-danger btn-sm">삭제</button>
                                </td>
                            </tr>
                        {{/resumeList}}
                        </tbody>
                    </table>
                    <div class="text-center"> <!-- Center the button -->
                        <a href="/guest/resume/writeForm" class="btn btn-primary">새로운 이력서 작성하기</a>
                        <!-- Styled in blue color -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

{{> layout/footer}}
