{{> layout/header}}
<style>
    .profileBox {
        margin-top: 50px;
        border: 2px solid #ccc;
        padding: 30px;
        border-radius: 10px;
    }
</style>

<!--개인 프로필 수정 페이지-->
<div class="container">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="upMenu text-center mb-4">
                            <h1>마이페이지</h1>
                            <div class="btn-group btn-group-lg">
                                <a href="/guest/profileForm">
                                    <button type="button" class="btn btn-outline-dark m-1">프로필 관리</button>
                                </a>
                                <a href="/guest/mngForm">
                                    <button type="button" class="btn btn-outline-dark m-1">이력서 관리</button>
                                </a>
                                <a href="/applyForm">
                                    <button type="button" class="btn btn-outline-dark m-1">지원 현황</button>
                                </a>
                                <a href="/positionForm">
                                    <button type="button" class="btn btn-outline-dark m-1">제안 관리</button>
                                </a>
                                <a href="/guest/scrapForm">
                                    <button type="button" class="btn btn-outline-dark m-1">스크랩</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{#guestProfile}}
                    <form action="/guest/updateProfile" method="post" enctype="multipart/form-data">
                        <div class="content profileBox container" style="width: 60%">
                            <h2>프로필 관리</h2>
                            <div class="d-flex justify-content-center my-5">
                                <div class="card" STYLE="width: 350PX">
                                    <img class="card-img-top" id="imgPreview" src="/image/{{imgFilename}}">
                                    <div class="card-body">
                                q        <div class="input-group">
                                            <input type="file" class="form-control" name="imgFilename"
                                                   value="{{imgFilename}}" onchange="previewImage(this)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">이름:</label>
                                <input type="text" class="form-control" id="name" name="name" value={{name}}>
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">비밀번호:</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       value={{password}}>
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">전화번호:</label>
                                <input type="tel" class="form-control" id="phone" name="phone" value={{phone}}>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">이메일:</label>
                                <input type="email" class="form-control" id="email" name="email" value={{email}}>
                            </div>

                            <div class="mb-3">
                                <label for="scale" class="form-label">주소</label>
                                <input type="text" class="form-control" id="address" name="address" value={{address}}>
                            </div>

                            <div class="text-center"> <!-- Centering the button -->
                                <button type="submit" class="btn btn-primary">저장</button>
                            </div>
                        </div>
                    </form>
                {{/guestProfile}}
            </div>
        </div>
    </div>
</div>
<script>
    // HTML 문서에서 ID가 'imgPreview'인 이미지 요소를 찾아 imgPreview 변수에 할당
    const imgPreview = document.getElementById('imgPreview');

    // 사용자가 이미지 파일을 선택했을 때 실행되는 함수
    function previewImage(input) {
        // 선택된 파일을 가져오기
        const file = input.files[0];

        // FileReader 객체를 생성
        const reader = new FileReader();

        // FileReader의 onload 이벤트 핸들러를 정의
        // 파일 읽기가 완료되면 이 함수가 실행되고, 이벤트 객체 e를 매개변수로 받기
        reader.onload = function (e) {
            // 파일을 읽어들인 데이터 URL을 이미지 요소의 src 속성에 할당하여 이미지를 표시
            imgPreview.src = e.target.result;
        };

        // 선택된 파일을 Data URL로 읽기
        // 파일의 내용이 Base64로 인코딩된 문자열로 반환
        reader.readAsDataURL(file);
    }
</script>

{{> layout/footer}}