{{> layout/header}}

<!--개인 프로필 수정 페이지-->
<div class="container">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="upMenu text-center mb-4">
                    <h1>마이페이지</h1>
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-outline-dark" id="profileBtn">프로필 관리</button>
                        <button type="button" class="btn btn-outline-dark">이력서 관리</button>
                        <button type="button" class="btn btn-outline-dark">지원 관리</button>
                        <button type="button" class="btn btn-outline-dark">스크랩한 기업</button>
                        <button type="button" class="btn btn-outline-dark">로그아웃</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="content">
                    <h2>프로필 관리</h2>
                    <form action="#" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">이름:</label>
                            <input type="text" class="form-control" id="name" name="name" value="홍길동">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">비밀번호:</label>
                            <input type="tel" class="form-control" id="phone" name="phone" value="010-1234-5678">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">전화번호:</label>
                            <input type="tel" class="form-control" id="phone" name="phone" value="010-1234-5678">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">이메일:</label>
                            <input type="email" class="form-control" id="email" name="email" value="hong@example.com">
                        </div>
                        <div class="text-center"> <!-- Centering the button -->
                            <button type="submit" class="btn btn-primary">저장</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

{{> layout/footer}}