{{> layout/header}}

<body>
<div class="container">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="upMenu text-center mb-4">
                    <h1>마이페이지</h1>
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-outline-dark" id="profileBtn">프로필 관리</button>
                        <button type="button" class="btn btn-outline-dark">이력서 관리</button>
                        <button type="button" class="btn btn-outline-dark">지원 관리</button>
                        <button type="button" class="btn btn-outline-dark">스크랩한 기업</button>
                        <button type="button" class="btn btn-outline-dark">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="applyBox">
                    <h2 class="text-left">이력서 관리</h2>
                    <table class="table">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>관리</th>
                        </tr>
                        </thead>
                        <tbody id="resumeTable">
                        <tr>
                            <td>1</td>
                            <td>열정과 책임감이 넘치는 신입 백엔드 개발자입니다</td>
                            <td>
                                <button class="btn btn-primary btn-sm">수정</button>
                                <button class="btn btn-danger btn-sm">삭제</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center"> <!-- Center the button -->
                        <button class="btn btn-primary">새로운 이력서 작성하기</button> <!-- Styled in blue color -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
</body>

</html>

{{> layout/footer}}
