{{> layout/header}}

<!--공고관리 페이지-->

<div class="card-body">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="upMenu text-center mb-4">
                    <h1>마이페이지</h1>
                    <div class="btn-group btn-group-lg">
                        <a href="/comp/profileForm">
                            <button type="button" class="btn btn-outline-dark m-1">프로필 관리</button>
                        </a>
                        <a href="/comp/mngForm">
                            <button type="button" class="btn btn-outline-dark m-1">채용공고 관리</button>
                        </a>
                        <a href="/applyPositionForm">
                            <button type="button" class="btn btn-outline-dark m-1">지원자 관리</button>
                        </a>
                        <a href="/comp/scrapForm">
                            <button type="button" class="btn btn-outline-dark m-1">스크랩</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-3 ">
        {{#sessionUser}}
            <h3>안녕하세요. {{name}} 담당자님</h3>
        {{/sessionUser}}
        <div class="d-flex justify-content-between mt-5 mb-2">
            <h2>내가 올린 공고</h2>
        </div>

        {{#jobopenList}}
            <div class="card border- form-control d-flex justify-content-between mb-4 shadow-lg p-3 mb-5 bg-body rounded-5">
                <div class="card-body">
                    <a href="/comp/jobopen/{{id}}">
                        <div class="card-text mb-5 text-truncate">
                            <h2>{{jobopenTitle}}</h2>
                        </div>
                    </a>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="button" class="btn btn-primary">
                                지원자 현황 <span class="badge bg-danger">4</span>
                            </button>
                        </div>
                        <div>
                            <a href="/comp/jobopen/{{id}}/updateForm">
                                <button class="btn btn-info">수정</button>
                            </a>
                            <form action="/comp/jobopen/{{id}}/detete" method="post">
                                <button class="btn btn-secondary">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {{/jobopenList}}


        <div class="text-center mb-5">
            <a href="/comp/writeForm">
                <button class="btn btn-primary">공고만들기</button>
            </a>
        </div>

        <div class="mt-5">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled text-info bg-light border-dark">
                    <a class="page-link text-info bg-light" href="#">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-info bg-light" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-info bg-light" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-info bg-light" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-info bg-light" href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
    <!--공고관리 페이지-->
{{> layout/footer}}