{{> layout/header}}

<style>
    .text-left {
        text-align: left;
    }

    .profileBox {
        margin-top: 50px;
        border: 2px solid #ccc;
        padding: 30px;
        border-radius: 10px;
        border: none;
    }
</style>

<div class="container">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="upMenu text-center mb-4">
                    <h1>마이페이지</h1>
                    <div class="btn-group btn-group-lg">
                        <a href="/comp/profileForm">
                            <button type="button" class="btn btn-outline-dark m-1">프로필 관리</button>
                        </a>
                        <a href="/comp/mngForm">
                            <button type="button" class="btn btn-outline-dark m-1">채용공고 관리</button>
                        </a>
                        <a href="/applyForm">
                            <button type="button" class="btn btn-outline-dark m-1">지원자 관리</button>
                        </a>
                        <a href="/positionForm">
                            <button type="button" class="btn btn-outline-dark m-1">제안 관리</button>
                        </a>
                        <a href="/comp/scrapForm">
                            <button type="button" class="btn btn-outline-dark m-1">스크랩</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-0">
        <div class="profileBox" id="profileForm">
            <h2 class="text-left mb-4" style="margin-top: -50px;">제안 <span class="badge bg-info" id="offerCount"></span>
            </h2>
            <div class="card shadow row">
                <table class="table p-3" style="margin-bottom: 0px;">
                    <thead class="table-primary">
                    <tr>
                        <th></th>
                        <th>이름</th>
                        <th scope="col">이력서</th>
                        <th scope="col">공고명</th>
                        <th scope="col">상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#Apply}}
                        <tr onClick="location.href='/guest/resume/{{resumeId}}'" style="cursor:pointer">
                            <td></td>
                            <td>{{name}}</td>
                            <td>{{resumeTitle}}</td>
                            <td>{{jobopenTitle}}</td>
                            <td>{{state}}</td>
                        </tr>
                    {{/Apply}}
                    <!-- 추가 제안 내용들 -->
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            // document.addEventListener("DOMContentLoaded", function() {
            //     // '제안' 섹션의 개수 계산
            //     var tbody = document.querySelector("table.table tbody");
            //     var numberOfOffers = tbody ? tbody.querySelectorAll("tr").length : 0;
            //     document.getElementById("offerCount").textContent = numberOfOffers;
            //
            //     // '내 공고 지원자 목록' 섹션의 개수 계산
            //     var applicantsList = document.getElementById("applicantsList");
            //     var numberOfCards = applicantsList.querySelectorAll(".card").length;
            //     document.getElementById("applyCount").textContent = numberOfCards;
            //
            //     // 모든 합격, 불합격 버튼에 대한 이벤트 리스너 추가
            //     var allButtons = document.querySelectorAll('.btn-info, .btn-secondary');
            //
            //     allButtons.forEach(function(button) {
            //         button.addEventListener('click', function(event) {
            //             console.log("버튼 클릭됨:", this);
            //             // 클릭된 버튼이 속한 카드 내의 모든 버튼을 찾습니다.
            //             var buttonsInCard = this.closest('.card').querySelectorAll('.btn-info, .btn-secondary');
            //
            //             // 클릭된 버튼을 비활성화하고, 다른 버튼을 활성화합니다.
            //             buttonsInCard.forEach(function(btn) {
            //                 if (btn === button) {
            //                     btn.disabled = true; // 클릭된 버튼 비활성화
            //                 } else {
            //                     btn.disabled = false; // 다른 버튼 활성화
            //                 }
            //             });
            //         });
            //     });
            // });
        </script>


{{> layout/footer}}