{{> layout/header}}
<!--기업 프로필수정 페이지-->
<style>
    .profileBox {
        margin-top: 50px;
        border: 2px solid #ccc;
        padding: 30px;
        border-radius: 10px;
    }

    .profileImage {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .editButton {
        position: relative;
        bottom: -50px;
    }
</style>

<div class="container">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="upMenu text-center mb-4">
                    <h1>마이페이지</h1>
                    <div class="btn-group btn-group-lg">
                        <a href="/comp/profileForm">
                            <button type="button" class="btn btn-outline-dark m-1">프로필 관리</button>
                        </a>
                        <a href="/comp/mngForm">
                            <button type="button" class="btn btn-outline-dark m-1">채용공고 관리</button>
                        </a>
                        <a href="/applys">
                            <button type="button" class="btn btn-outline-dark m-1">지원자 관리</button>
                        </a>
                        <a href="/comp/scrapForm">
                            <button type="button" class="btn btn-outline-dark m-1">스크랩</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="profileBox mt-3" id="profileForm">
            <h2 class="text-center mb-4">프로필 관리</h2>
            <h5 class="text-left mb-4">담당자 정보</h5>
            <div class="profile-container">
                <form method="post" enctype="multipart/form-data">
                    <div class="button">
                        <label for="chooseFile">
                            👉 CLICK HERE! 👈
                        </label>
                    </div>
                    <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
                </form>
            </div>
            <script src="script.js"></script>
            <div class="line"></div>
            <div class="mb-3">
                <label for="name" class="form-label">이름</label>
                <input type="text" class="form-control" id="name" name="name" value="홍길동">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">전화번호</label>
                <input type="tel" class="form-control" id="phone" name="phone" value="010-1234-5678">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">이메일</label>
                <input type="tel" class="form-control" id="phone" name="phone" value="010-1234-5678">
            </div>

            <h5 class="text-left mb-4">기업 정보</h5>
            <div class="mb-3">
                <label for="companyName" class="form-label">회사명</label>
                <input type="text" class="form-control" id="companyName" name="companyName">
            </div>
            <div class="mb-3">
                <label for="scale" class="form-label">주소</label>
                <input type="text" class="form-control" id="scale" name="scale">
            </div>
            <div class="mb-3">
                <label for="businessNumber" class="form-label">사업자 번호</label>
                <input type="text" class="form-control" id="businessNumber" name="businessNumber">
            </div>
            <div class="mb-3">
                <label for="scale" class="form-label">규모</label>
                <input type="text" class="form-control" id="scale" name="scale">
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg">저장</button>
            </div>
        </div>
    </div>
    <br><br><br>
</div>


{{> layout/footer}}