{{> layout/header}}
<!--기업 프로필수정 페이지-->
<style>
    .profileBox {
        margin-top: 50px;
        border: 2px solid #ccc;
        padding: 30px;
        border-radius: 10px;
    }

    .profileImage {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .editButton {
        position: relative;
        bottom: -50px;
    }
</style>

<div class="container">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="upMenu text-center mb-4">
                    <h1>마이페이지</h1>
                    <div class="btn-group btn-group-lg">
                        <a href="/comp/profileForm">
                            <button type="button" class="btn btn-outline-dark m-1">프로필 관리</button>
                        </a>
                        <a href="/comp/mngForm">
                            <button type="button" class="btn btn-outline-dark m-1">채용공고 관리</button>
                        </a>
                        <a href="/applyForm">
                            <button type="button" class="btn btn-outline-dark m-1">지원자 관리</button>
                        </a>
                        <a href="/positionForm">
                            <button type="button" class="btn btn-outline-dark m-1">제안 관리</button>
                        </a>
                        <a href="/comp/scrapForm">
                            <button type="button" class="btn btn-outline-dark m-1">스크랩</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="profileBox mt-3" id="profileForm">
            <h2 class="text-center mb-4">프로필 관리</h2>
            <h3 class="text-left text-primary mb-4">회사 및 담당자 정보</h3>
            <div class="profile-container">
            </div>
            {{#compProfile}}
                <script src="script.js"></script>
                <div class="line"></div>
                <form action="/comp/updateProfile" method="post" enctype="multipart/form-data">
                    <div style="margin-left: 160px; margin-top: 20px; margin-bottom: 20px;">
                        <input type="file" name="imgFilename" id="imgFilename" value={{imgFilename}}
                               style="margin-bottom: 10px;">
                        <input type="text" name="imgTitle" id="imgTitle" value={{imgTitle}}>
                        <!-- 타이틀 입력란 -->
                    </div>
                    <div class="mb-3">
                        <span for="companyName" class="form-label">회사명 : </span>
                        <span>{{compname}}</span>
                    </div>
                    <div class="mb-3">
                        <span for="businessNumber" class="form-label">사업자 번호 : </span>
                        <span>{{compNum}}</span>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="name" class="form-label">이름</label>
                        <input type="text" class="form-control" id="name" name="name" value={{name}}>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">비밀번호:</label>
                        <input type="password" class="form-control" id="password" name="password" value={{password}}>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">전화번호</label>
                        <input type="tel" class="form-control" id="phone" name="phone" value={{phone}}>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">이메일</label>
                        <input type="email" class="form-control" id="email" name="email" value={{email}}>
                    </div>

                    <div class="mb-3">
                        <label for="scale" class="form-label">주소</label>
                        <input type="text" class="form-control" id="address" name="address" value={{address}}>
                    </div>


                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">저장</button>
                    </div>
                </form>
            {{/compProfile}}
        </div>
    </div>
    <br><br><br>
</div>


{{> layout/footer}}