{{> layout/header}}

<style>
    .profileBox {
        margin-top: 50px;
        border: 2px solid #ccc;
        padding: 30px;
        border-radius: 10px;
        border: none;
    }
</style>


<!--기업 스크랩 페이지-->
<div class="container">
    <div class="card-body">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="upMenu text-center mb-4">
                        <h1>마이페이지</h1>
                        <div class="btn-group btn-group-lg">
                            <a href="/comp/profileForm">
                                <button type="button" class="btn btn-outline-dark m-1">프로필 관리</button>
                            </a>
                            <a href="/comp/mngForm">
                                <button type="button" class="btn btn-outline-dark m-1">채용공고 관리</button>
                            </a>
                            <a href="/applyForm">
                                <button type="button" class="btn btn-outline-dark m-1">지원자 관리</button>
                            </a>
                            <a href="/positionForm">
                                <button type="button" class="btn btn-outline-dark m-1">제안 관리</button>
                            </a>
                            <a href="/comp/scrapForm">
                                <button type="button" class="btn btn-outline-dark m-1">스크랩</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profileBox" id="profileForm">
            <h2 class="text-left mb-4">스크랩한 인재
            </h2>
            <div class="card shadow row">
                <table class="table p-3">
                    <thead class="table-primary">
                    <tr>
                        <th></th>
                        <th scope="col">이름</th>
                        <th scope="col">이력서 제목</th>
                        <th scope="col">학력</th>
                        <th scope="col">경력</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#resumeList}}
                        <tr onClick="location.href='/guest/resume/{{id}}'" style="cursor:pointer;">
                            <td></td>
                            <td>{{name}}</td>
                            <td>{{resumeTitle}}</td>
                            <td>{{edu}}</td>
                            <td>{{career}}</td>
                        </tr>
                    {{/resumeList}}
                    <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Footer content goes here -->


{{> layout/footer}}