{{> layout/header}}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>test Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .m-10 {
            margin: 10px;
        }

        .mt-10 {
            margin-top: 10px;
        }

        .mt-50 {
            margin-top: 50px;
        }

        .vipCompanyInfoBox {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-gap: 10px;
        }

        .companyInfoBox {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-gap: 10px;
        }
    </style>
</head>
<body>

<div class="vipCompanyInfo m-10">
    <div class="mt-50">Vip 채용관</div>
    <div class="vipCompanyInfoBox">
        <div class="card">
            <div class="vipCompanyInfo1">
                <img class="image" src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text">text</div>
            </div>
        </div>
        <div class="card">
            <div class="vipCompanyInfo2">
                <img class="image" src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text">text</div>
            </div>
        </div>
        <div class="card">
            <div class="vipCompanyInfo3">
                <img class="image" src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text">text</div>
            </div>
        </div>
        <div class="card">
            <div class="vipCompanyInfo4">
                <img class="image" src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text">text</div>
            </div>
        </div>
        <div class="card">
            <div class="vipCompanyInfo5">
                <img class="image" src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text">text</div>
            </div>
        </div>
    </div>
</div>

<div class="companyInfo mt-50 m-10">
    <div>채용 공고</div>

    <div class="companyInfoBox">
        <div class="card">
            <div class="companyInfo1">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
        <div class="card">
            <div class="companyInfo2">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
        <div class="card">
            <div class="companyInfo3">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
        <div class="card">
            <div class="companyInfo4">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
    </div>

    <div class="companyInfoBox mt-10">
        <div class="card">
            <div class="companyInfo2">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
        <div class="card">
            <div class="companyInfo2">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
        <div class="card">
            <div class="companyInfo3">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
        <div class="card">
            <div class="companyInfo4">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
    </div>

    <div class="companyInfoBox mt-10">
        <div class="card">
            <div class="companyInfo2">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
        <div class="card">
            <div class="companyInfo2">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
        <div class="card">
            <div class="companyInfo3">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
        <div class="card">
            <div class="companyInfo4">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
    </div>

    <div class="companyInfoBox mt-10">
        <div class="card">
            <div class="companyInfo2">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
        <div class="card">
            <div class="companyInfo2">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
        <div class="card">
            <div class="companyInfo3">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
        <div class="card">
            <div class="companyInfo4">
                <img class="image"
                     src="https://i.pinimg.com/originals/24/e8/3a/24e83a6ee87c0c4f3ab805667275bf2c.gif"
                     height="100px" width="100px">
                <div class="card-text"><h4>Some example text.</h4></div>
                <div class="card-text">Some example text.</div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>

{{> layout/footer}}