{{> layout/header}}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>개인 마이페이지 샘플</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>

    </style>
</head>
<body>
<div class="menu">
    <h1>마이페이지</h1>
    <ul>
        <li><a href="#">개인 정보</a></li>
        <li><a href="#">이력서 관리</a></li>
        <li><a href="#">지원한 채용 정보</a></li>
        <li><a href="#">채용 공고 알림 설정</a></li>
        <li><a href="#">인터뷰 일정 확인</a></li>
        <li><a href="#">평가 및 피드백 제공</a></li>
        <li><a href="#">비밀번호 변경</a></li>
        <li><a href="#">로그아웃</a></li>
    </ul>
</div>

<div class="content">
    <h2>회원정보 수정</h2>
    <form action="#" method="post">
        <label for="name">이름:</label>
        <input type="text" id="name" name="name" value="홍길동"><br><br>

        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" value="hong@example.com"><br><br>

        <label for="phone">전화번호:</label>
        <input type="tel" id="phone" name="phone" value="010-1234-5678"><br><br>

        <input type="submit" value="저장">
    </form>
</div>
<!-- VIP 채용관 start -->
<section>

</section>
<!-- VIP 채용관 end -->

<!-- 채용 공고 start -->
<section>

</section>
<!-- 채용 공고 end -->

</div>

</body>
</html>

{{> layout/footer}}