{{> layout/header}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
<div class="container mt-3 ">

    <div class="card mb-20">
        <div class="card-body">
            <h1 class="card-title">기업정보</h1>
            <p class="">000 인사담당자님</p>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-5">
        <h2>내가 올린 공고</h2>
        <div>
            <button class="btn btn-primary">공고만들기</button>
        </div>
    </div>

    <!-- 모달 -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
        지원자 현황 <span class="badge bg-danger">4</span>
    </button>

    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">지원자 현황</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div> -->


    <div class="card mb-3">
        <div class="card-body d-flex justify-content-between">
            <div class="card form-control">
                <div class="card-body">
                    <p class="card-title">회사</p>
                    <a href="#">
                        <div class="card-text mb-5">
                            열정적인 인재를 원합니다... (더 많은 내용)
                        </div>
                    </a>
                    <div class="d-flex justify-content-between">
                        <div class="align-self-center">
                            <button class="btn btn-danger">삭제</button>
                            <button class="btn btn-primary">수정</button>
                        </div>
                        <div class="align-self-center">
                            <button type="button" class="btn btn-primary">
                                지원자 현황 <span class="badge bg-danger">4</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3 ">
        <div class="card-body">
            <div class="card-body d-flex justify-content-between">
                <div>
                    <p class="card-title">회사</p>
                    <div class="card-text">
                        열정적인 인재를 원합니aaaaaadddddddddddddddaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa다
                    </div>
                    <div>
                        <div>
                            <button class="btn btn-danger mb-3 mt-3">삭제</button>
                            <button class="btn btn-primary">수정</button>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-title"> 지원자 현황 </div>
                        <a href="#" class="card-link">10 명</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 ">
        <div class="card-body">
            <div class="card-body d-flex justify-content-between">
                <div>
                    <p>회사</p>
                    <p>열정적인 인재를 원합니다</p>
                </div>

                <div>
                    <div>
                        <button class="btn btn-danger mb-3 mt-3">삭제</button>
                    </div>
                    <div>
                        <button class="btn btn-primary">수정</button>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <p> 지원자 현황 </p>
                        <p>10명</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 ">
        <div class="card-body">
            <div class="card-body d-flex justify-content-between">
                <div>
                    <p>회사</p>
                    <p>열정적인 인재를 원합니다</p>
                </div>

                <div>
                    <div>
                        <button class="btn btn-danger mb-3 mt-3">삭제</button>
                    </div>
                    <div>
                        <button class="btn btn-primary">수정</button>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <p> 지원자 현황 </p>
                        <p>10명</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
{{> layout/footer}}
