{{> layout/header}}

<!-- 기업 인재명단 페이지 -->
<!-- 추가된 추천 인재 명단 start -->
<div class="container">
    <div class="card-body">
        <h3 class="text-left mb-4">추천 인재 명단</h3>
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card p-3 text-center" onclick="window.location.href='/resumeList'">
                    <img src="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title"><strong>프론트엔드 개발자</strong></h5>
                        <p class="card-text">경기도 수원시 | 5년 | 대졸이상</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card p-3 text-center" onclick="window.location.href='/resumeList'">
                    <img src="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title"><strong>프론트엔드 개발자</strong></h5>
                        <p class="card-text">경기도 수원시 | 5년 | 대졸이상</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card p-3 text-center" onclick="window.location.href='/resumeList'">
                    <img src="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title"><strong>프론트엔드 개발자</strong></h5>
                        <p class="card-text">경기도 수원시 | 5년 | 대졸이상</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card p-3 text-center" onclick="window.location.href='/resumeList'">
                    <img src="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title"><strong>프론트엔드 개발자</strong></h5>
                        <p class="card-text">경기도 수원시 | 5년 | 대졸이상</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 추가된 추천 인재 명단 end -->
        <br><br>
        <!-- 인재 명단 start -->

        <div class="card-body">
            <h3 class="text-left mb-4">인재 명단</h3>
<!--            <a href="/guest/jobSearch/">-->
                <div class="card border-info shadow-sm p-3 mx-1 my-1 rounded-3" style="cursor: pointer">
                    <h4>서강준</h4>
                    <p><small>이력서2</small></p>
                    <p><small>1998-02-02</small></p>
                    <p><small>서울시 강남구</small></p>
                    <p><small>신입</small></p>
                    <span class="like-icon position-absolute top-0 end-0 p-3" onclick="toggleHeart(this)"><i
                            class="fas fa-heart"></i></span>
                </div>
<!--            </a>-->
                    <!-- 추가된 인재 정보들 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
<!-- 인재 명단 end -->

{{> layout/footer}}