{{> layout/header}}

<!-- 추가된 추천 인재 명단 start -->
<div class="container">
    <div class="card-body">
        <h3 class="text-left mb-4">추천 인재 명단</h3>
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card p-3 text-center" onclick="window.location.href='/resumeList'">
                    <img src="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title"><strong>프론트엔드 개발자</strong></h5>
                        <p class="card-text">경기도 수원시 | 5년 | 대졸이상</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card p-3 text-center" onclick="window.location.href='/resumeList'">
                    <img src="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title"><strong>프론트엔드 개발자</strong></h5>
                        <p class="card-text">경기도 수원시 | 5년 | 대졸이상</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card p-3 text-center" onclick="window.location.href='/resumeList'">
                    <img src="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title"><strong>프론트엔드 개발자</strong></h5>
                        <p class="card-text">경기도 수원시 | 5년 | 대졸이상</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card p-3 text-center" onclick="window.location.href='/resumeList'">
                    <img src="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title"><strong>프론트엔드 개발자</strong></h5>
                        <p class="card-text">경기도 수원시 | 5년 | 대졸이상</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 추가된 추천 인재 명단 end -->
        <br><br>
        <!-- 인재 명단 start -->
        <section>
            <div class="card-body">
                <h3 class="text-left mb-4">인재 명단</h3>
                <div class="table-responsive">
                    <table class="table table-bordered align-items-center">
                        <thead>
                        <tr>
                            <th scope="col">이름</th>
                            <th scope="col">이력서 제목</th>
                            <th scope="col">나이</th>
                            <th scope="col">거주지</th>
                            <th scope="col">경력</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr onclick="window.location.href='/resume1';" style="cursor: pointer;">
                            <td>홍길동</td>
                            <td>열정이 넘치는 신입 백엔드 개발자 입니다!</td>
                            <td>30대</td>
                            <td>서울</td>
                            <td>신입</td>
                        </tr>
                        <!-- 추가된 인재 정보들 -->
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <br><br><br>
</div>
<!-- 인재 명단 end -->

{{> layout/footer}}