{{> layout/header}}

<!-- 기업 인재명단 페이지 -->

<div class="container">

    <!-- 인재 명단 삭제 -->
    <br><br>
    <!-- 필터링 start -->
    <form id="searchForm" action="/comp/resumeSearch" method="get" enctype="application/x-www-form-urlencoded">
        <div class="my-3">
            <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="collapse"
                    data-bs-target="#demo">
                인재 필터
            </button>
        </div>
        <div id="demo" class="mt-3 collapse">
            <div class="p-2 m-2 rounded-3 shadow d-flex align-items-center" id="accordion">
                <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="collapse"
                        data-bs-target="#skills">
                    기술스택
                </button>
                <div id="skills" class="p-2 collapse">
                    <input type="checkbox" class="btn-check" id="전체" name="skills"
                           value=Java,Java_Script,HTML,jQuery,MySQL autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="전체">전체</label>

                    <input type="checkbox" class="btn-check" id="Java" name="skills" value=Java
                           autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="Java">Java</label>

                    <input type="checkbox" class="btn-check" id="Java_Script" name="skills"
                           value=Java_Script autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="Java_Script">Java_Script</label>

                    <input type="checkbox" class="btn-check" id="HTML" name="skills" value=HTML
                           autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="HTML">HTML</label>

                    <input type="checkbox" class="btn-check" id="jQuery" name="skills" value=jQuery
                           autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="jQuery">jQuery</label>

                    <input type="checkbox" class="btn-check" id="MySQL" name="skills" value=MySQL
                           autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="MySQL">MySQL</label>
                </div>
            </div>

            <div class="p-2 m-2 rounded-3 shadow d-flex align-items-center">
                <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="collapse"
                        data-bs-target="#career">
                    경력
                </button>

                <div id="career" class="p-2 collapse">
                    <input type="checkbox" class="btn-check" id="careerAll" name="career"
                           value="신입,경력" autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="careerAll">전체</label>

                    <input type="checkbox" class="btn-check" id="신입" name="career" value="신입"
                           autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="신입">신입</label>

                    <input type="checkbox" class="btn-check" id="경력" name="career" value="경력"
                           autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="경력">경력</label>
                </div>
            </div>

            <div class=" p-2 m-2 rounded-3 shadow d-flex align-items-center">
                <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="collapse"
                        data-bs-target="#edu">
                    학력
                </button>
                <div id="edu" class="p-2 collapse">
                    <input type="checkbox" class="btn-check" id="eduAll" name="edu"
                           value="고등학교 졸업,대학교 졸업" autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="eduAll">전체</label>

                    <input type="checkbox" class="btn-check" id="고등학교 졸업" name="edu" value="고등학교 졸업"
                           autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="고등학교 졸업">고등학교 졸업</label>


                    <input type="checkbox" class="btn-check" id="대학교 졸업" name="edu" value="대학교 졸업"
                           autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="대학교 졸업">대학교 졸업</label>


                </div>
            </div>

            <div class=" p-2 m-2 rounded-3 shadow d-flex align-items-center">
                <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="collapse"
                        data-bs-target="#hopeJob">
                    희망 직무
                </button>
                <div id="hopeJob" class="p-2 collapse">
                    <input type="checkbox" class="btn-check" id="hopeJobAll" name="hopeJob"
                           value="프론트엔드,백엔드" autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="hopeJobAll">전체</label>


                    <input type="checkbox" class="btn-check" id="프론트엔드" name="hopeJob" value="프론트엔드"
                           autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="프론트엔드">프론트엔드</label>

                    <input type="checkbox" class="btn-check" id="백엔드" name="hopeJob" value="백엔드"
                           autocomplete="off">
                    <label class="btn btn-lg btn-outline-info mx-1" for="백엔드">백엔드</label>

                </div>
            </div>

            <div class="text-center my-5"> <!-- 가운데 정렬 및 위아래 여백 추가 -->
                <input type="hidden" name="skills" id="skillsInput">
                <button type="submit" class="btn btn-lg btn-primary mx-2">
                    <!-- 좌우 여백만 추가 -->
                    필터 적용하기
                </button>
            </div>
        </div>

    </form>

    <!-- 필터링 end -->

    <!-- 인재 명단 start -->
    <h3 class="text-left mb-4">인재 명단</h3>
    <div class="row">
        {{#resumeList}}
            <div class="col-lg-4 col-md-6 col-12">
                <div onClick="location.href='/guest/resume/{{id}}'" class="btn">
                    <div class="card border-0 shadow my-4 mx-4" style="width: 80%;">
                        <img class="card-img-top img-fluid" src="/image/{{imgFilename}}"
                             alt="이미지를 표시할 수 없습니다.">
                        <div class="card-body text-start">
                            <br>
                            <h5 class="card-title">{{name}}</h5>
                            <hr>
                            <p class="card-text">{{resumeTitle}}</p>
                            <hr>
                            <p>{{edu}} {{career}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{/resumeList}}
    </div>
</div>

<script>
    // 기술스택 필터 적용
    var skillArr = new Array(); //필터 내용을 저장하는 배열

    //필터 내용을 저장하는 function
    function skillsFilter(target) {

        var skillVal = target.value; //check value
        var confirmCheck = target.checked; //check여부 확인
        console.log("필터 선택값 : " + skillVal);
        console.log("선택여부 : " + confirmCheck);

        if (confirmCheck == true) { // check true
            skillArr.push(skillVal); // check value filter 배열에 입력
        } else { // check false
            skillArr.splice(skillArr.indexOf(skillVal), 1); // check value filter 배열내용 삭제
        }
        console.log("필터입력값 출력 : " + skillArr);
    }

    // function applyFilters() {
    //
    //     var skillString = JSON.stringify(skillArr); // JSON 문자열로 변환
    //     document.getElementById("skillsInput").value = skillString; // 숨겨진 input에 값 설정
    //
    //     // 폼 제출
    //     document.getElementById("searchForm").submit(); // 올바른 폼 ID를 사용
    // }
</script>

{{> layout/footer}}